[{:id "standard"
  :name "Standard"
  :sets ["data-and-destiny"
         "reign-and-reverie"
         "magnum-opus-reprint"
         "system-gateway"
         "system-update-2021"]
  :cycles ["mumbad"
           "flashpoint"
           "red-sand"
           "kitara"
           "ashes"]
  :mwl "standard-ban-list-20-09"}
 {:id "system-gateway"
  :name "System Gateway"
  :sets ["system-gateway"]
  :mwl nil}
 {:id "startup"
  :name "Startup"
  :sets ["system-gateway"
         "system-update-2021"]
  :cycles ["ashes"]
  :mwl nil}
 {:id "eternal"
  :name "Eternal"
  :sets ["core-set"
         "creation-and-control"
         "honor-and-profit"
         "order-and-chaos"
         "data-and-destiny"
         "terminal-directive-cards"
         "revised-core-set"
         "reign-and-reverie"
         "magnum-opus"
         "system-core-2019"
         "magnum-opus-reprint"
         "system-gateway"]
  :cycles ["genesis"
           "spin"
           "lunar"
           "sansan"
           "mumbad"
           "flashpoint"
           "red-sand"
           "kitara"
           "ashes"]
  :mwl "eternal-mwl-1-2"}
 {:id "snapshot"
  :name "Snapshot"
  :sets ["creation-and-control"
         "honor-and-profit"
         "order-and-chaos"
         "data-and-destiny"
         "terminal-directive-cards"
         "revised-core-set"
         "reign-and-reverie"]
  :cycles ["lunar"
           "sansan"
           "mumbad"
           "flashpoint"
           "red-sand"
           "kitara"]
  :mwl "napd-mwl-2-2"}
 {:id "snapshot-plus"
  :name "Snapshot Plus"
  :sets ["creation-and-control"
         "honor-and-profit"
         "order-and-chaos"
         "data-and-destiny"
         "terminal-directive-cards"
         "revised-core-set"
         "reign-and-reverie"]
  :cycles ["lunar"
           "sansan"
           "mumbad"
           "flashpoint"
           "red-sand"
           "kitara"
           "magnum-opus"]
  :mwl "napd-mwl-2-2"}
 {:id "classic"
  :name "Classic"
  :sets ["core-set"
         "creation-and-control"
         "honor-and-profit"
         "order-and-chaos"
         "data-and-destiny"
         "terminal-directive-cards"
         "revised-core-set"
         "reign-and-reverie"
         "magnum-opus"
         "system-core-2019"
         "magnum-opus-reprint"]
  :cycles ["genesis"
           "spin"
           "lunar"
           "sansan"
           "mumbad"
           "flashpoint"
           "red-sand"
           "kitara"
           "ashes"]
  :mwl "classic-mwl-1-0"}]
