{:cost 1
 :deck-limit 3
 :faction :jinteki
 :id "ben-musashi"
 :influence-value 2
 :side :corp
 :subtype [:clone]
 :text "Each time the Runner accesses an agenda from this server, he or she must suffer 2 net damage as an additional cost in order to steal it. This applies even during the run on which the Runner trashes Ben Musashi."
 :title "Ben Musashi"
 :trash-cost 3
 :type :upgrade
 :uniqueness true}
