{:cost 2
 :deck-limit 3
 :faction :shaper
 :id "capstone"
 :influence-value 3
 :side :runner
 :subtype []
 :text "[click]: Trash any number of cards from your grip. For each trashed card of which you have another copy installed, draw 1 card."
 :title "Capstone"
 :type :hardware
 :uniqueness true}
