{:code "06069"
 :cost 5
 :deck-limit 3
 :faction :weyland-consortium
 :id "changeling"
 :influence-value 2
 :side :corp
 :strength 4
 :subtype [:barrier :morph]
 :text "Changeling can be advanced.\nWhile Changeling has an odd number of advancement tokens on it, it gains <strong>sentry</strong> and loses <strong>barrier</strong>.\n[subroutine] End the run."
 :title "Changeling"
 :type :ice
 :uniqueness false}