{:code "03041"
 :cost 1
 :deck-limit 3
 :faction :shaper
 :id "cloak"
 :influence-value 2
 :memory-cost 1
 :side :runner
 :subtype [:stealth]
 :text "1[recurring-credit]\nUse this credit to pay for using <strong>icebreakers</strong>."
 :title "Cloak"
 :type :program
 :uniqueness false}