{:code "09053"
 :cost 1
 :deck-limit 3
 :faction :neutral-runner
 :id "employee-strike"
 :influence-value 1
 :side :runner
 :subtype [:current]
 :text "This card is not trashed until another <strong>current</strong> is played or an agenda is scored.\nThe Corp's identity text box is blank."
 :title "Employee Strike"
 :type :event
 :uniqueness false}