{:code "21095"
 :cost 4
 :deck-limit 3
 :faction :jinteki
 :id "envelope"
 :influence-value 2
 :side :corp
 :strength 3
 :subtype [:barrier :ap]
 :text "[subroutine] Do 1 net damage.\n[subroutine] End the run."
 :title "Envelope"
 :type :ice
 :uniqueness false}