{:code "07042"
 :cost 3
 :deck-limit 3
 :faction :anarch
 :id "hivemind"
 :influence-value 5
 :memory-cost 2
 :side :runner
 :subtype [:virus]
 :text "Place 1 virus counter on Hivemind when it is installed.\nVirus counters on Hivemind are considered to be hosted on all other <strong>virus</strong> programs for the purposes of card effects (and can be spent as if on them)."
 :title "Hivemind"
 :type :program
 :uniqueness true}