{:cost 2
 :deck-limit 3
 :faction :anarch
 :id "mkultra"
 :influence-value 2
 :memory-cost 1
 :side :runner
 :strength 1
 :subtype [:icebreaker :killer]
 :text "Whenever you encounter a <strong>sentry</strong>, you may install MKUltra from your heap (paying its install cost).\n3[credit]: +2 strength. Break up to 2 <strong>sentry</strong> subroutines, if able."
 :title "MKUltra"
 :type :program
 :uniqueness false}
