{:base-link 1
 :code "06017"
 :deck-limit 1
 :faction :shaper
 :id "nasir-meidan-cyber-explorer"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:cyborg]
 :text "Whenever you encounter a piece of ice that was just rezzed, lose all credits in your credit pool. Gain credits equal to the rez cost of that ice."
 :title "Nasir Meidan: Cyber Explorer"
 :type :identity
 :uniqueness false}