{:code "08019"
 :cost 4
 :deck-limit 3
 :faction :weyland-consortium
 :id "negotiator"
 :influence-value 2
 :side :corp
 :strength 3
 :subtype [:sentry :destroyer]
 :text "The Runner can pay 2[credit] to break any subroutine on Negotiator.\n[subroutine] The Corp gains 2[credit].\n[subroutine] Trash 1 program."
 :title "Negotiator"
 :type :ice
 :uniqueness false}