{:code "10038"
 :cost 2
 :deck-limit 3
 :faction :neutral-corp
 :id "pad-factory"
 :influence-value 2
 :side :corp
 :subtype [:alliance :facility]
 :text "This card costs 0 influence if you have 3 PAD Campaigns in your deck.\n[click]: Place 1 advancement token on a card. You cannot score that card until your next turn begins."
 :title "PAD Factory"
 :trash-cost 3
 :type :asset
 :uniqueness false}