{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 3
 :faction :neutral-corp
 :id "priority-requisition"
 :influence-value 0
 :replaced-by "20125"
 :side :corp
 :subtype [:security]
 :text "When you score Priority Requisition, you may rez a piece of ice ignoring all costs."
 :title "Priority Requisition"
 :type :agenda
 :uniqueness false}