{:code "03049"
 :cost 5
 :deck-limit 3
 :faction :shaper
 :id "professional-contacts"
 :influence-value 2
 :side :runner
 :subtype [:connection]
 :text "[click]: Gain 1[credit] and draw 1 card."
 :title "Professional Contacts"
 :type :resource
 :uniqueness false}