{:code "11113"
 :cost 1
 :deck-limit 3
 :faction :jinteki
 :id "psychokinesis"
 :influence-value 2
 :side :corp
 :subtype [:terminal]
 :text "After you resolve this operation, end your action phase.\nLook at the top 5 cards of R&D. If any of those cards are agendas, assets, or upgrades, you may install 1 of those cards in a remote server."
 :title "Psychokinesis"
 :type :operation
 :uniqueness false}