{:code "06060"
 :cost 8
 :deck-limit 3
 :faction :neutral-runner
 :id "rachel-beckman"
 :influence-value 1
 :side :runner
 :subtype [:connection]
 :text "You have 1 additional [click] to spend during your turn.\nTrash Rachel Beckman if you are tagged.\n<errata>Errata from FAQ 3.1</errata>"
 :title "Rachel Beckman"
 :type :resource
 :uniqueness true}