{:code "04024"
 :cost 1
 :deck-limit 3
 :faction :criminal
 :id "recon"
 :influence-value 2
 :side :runner
 :subtype [:run]
 :text "Make a run. You may jack out when you encounter the first piece of ice."
 :title "Recon"
 :type :event
 :uniqueness false}