{:code "12059"
 :cost 5
 :deck-limit 3
 :faction :weyland-consortium
 :id "red-planet-couriers"
 :influence-value 4
 :side :corp
 :subtype [:triple]
 :text "As an additional cost to play this operation, spend [click], [click].\nMove all advancement tokens from all installed cards to 1 card that can be advanced."
 :title "Red Planet Couriers"
 :type :operation
 :uniqueness false}