{:deck-limit 1
 :faction :jinteki
 :id "saraswati-mnemonics-endless-exploration"
 :influence-limit 15
 :minimum-deck-size 45
 :side :corp
 :subtype [:division]
 :text "[click], 1[credit]: Install a card from HQ in a remote server, then place 1 advancement token on it. You cannot score or rez that card until your next turn begins."
 :title "Saraswati Mnemonics: Endless Exploration"
 :type :identity
 :uniqueness false}
