{:advancement-requirement 3
 :agenda-points 1
 :code "12093"
 :deck-limit 3
 :faction :jinteki
 :id "water-monopoly"
 :side :corp
 :subtype [:initiative]
 :text "The install cost of each non-<strong>virtual</strong> resource is increased by 1."
 :title "Water Monopoly"
 :type :agenda
 :uniqueness false}