{:cost 1
 :deck-limit 3
 :faction :anarch
 :id "wyrm"
 :influence-value 2
 :memory-cost 1
 :side :runner
 :strength 1
 :subtype [:icebreaker :ai]
 :text "3[credit]: Break ice subroutine on a piece of ice with 0 or less strength.\n1[credit]: Ice has -1 strength.\n1[credit]: +1 strength."
 :title "Wyrm"
 :type :program
 :uniqueness false}
