[{:card-id "retrieval-run",
  :code "02101",
  :illustrator "Outland Entertainment LLC",
  :position 101,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "darwin",
  :code "02102",
  :illustrator "Liiga Smilshkalne",
  :position 102,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "data-leak-reversal",
  :code "02103",
  :flavor
    "A two-way solution to a one-way problem, the data leak reversal, or DLR for short, is a misnomer. There is no actual reversal of data, only the creation of a parallel peer-to-peer link with the initial source.",
  :illustrator "Andrew Mar",
  :position 103,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "faerie",
  :code "02104",
  :flavor "Do you believe in faeries?",
  :illustrator "Sara K. Diesel",
  :position 104,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "mr-li",
  :code "02105",
  :flavor
    "\"We're always happy to help, Mr. Santiago.\"\n\"I appreciate it, Mr. Li.\"\n\"We'll be in touch. And, Gabriel…\"\n\"Yes?\"\n\"Don't leave town.\"",
  :illustrator "Gong Studios",
  :position 105,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "indexing",
  :code "02106",
  :flavor "A little corporate restructuring is necessary once in a while.",
  :illustrator "Mauricio Herrera",
  :position 106,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "r-d-interface",
  :code "02107",
  :flavor "Works best at your own desk.",
  :illustrator "Reza Ilyasa",
  :position 107,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "deep-thought",
  :code "02108",
  :illustrator "Anna Ignatieva",
  :position 108,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "new-angeles-city-hall",
  :code "02109",
  :flavor
    "\"New Angeles is the jewel of modern civilization, and its government the envy of nations.\" -Mayor Wells",
  :illustrator "Henning Ludvigsen",
  :position 109,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "eli-1-0",
  :code "02110",
  :flavor "\"That's against the rules. The Creators will be angry.\"",
  :illustrator "Sandara Tang",
  :position 110,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "ruhr-valley",
  :code "02111",
  :flavor "Known for luxury hoppers and a delectable sauerkraut.",
  :illustrator "Yoann Boissonnet",
  :position 111,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "ronin",
  :code "02112",
  :flavor "\"I will serve you…for a time.\"",
  :illustrator "Adam S. Doyle",
  :position 112,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "midori",
  :code "02113",
  :flavor "\"Looks like someone is being naughty…\"",
  :illustrator "RJ Palmer",
  :position 113,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "nbn-the-world-is-yours",
  :code "02114",
  :flavor "*Some restrictions may apply. Scan this card to find out more.",
  :position 114,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "project-beale",
  :code "02115",
  :illustrator "Matt Zeilinger",
  :position 115,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "midseason-replacements",
  :code "02116",
  :illustrator "Christina Davis",
  :position 116,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "flare",
  :code "02117",
  :flavor
    "A bright light blossomed, and then the console went dark. That's when she smelled smoke.",
  :illustrator "Mike Nesbitt",
  :position 117,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "dedicated-response-team",
  :code "02118",
  :flavor "They don't call them dedicated for nothing.",
  :illustrator "Reza Ilyasa",
  :position 118,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "burke-bugs",
  :code "02119",
  :flavor
    "\"If I had to describe the bugs in one word, it would be '****ing annoying.'\" -Whizzard",
  :illustrator "Reza Ilyasa",
  :position 119,
  :quantity 3,
  :set-id "future-proof"}
 {:card-id "corporate-war",
  :code "02120",
  :flavor
    "There were several ways to win a corporate war. One of them was to bring out the bazookas.",
  :illustrator "Gong Studios",
  :position 120,
  :quantity 3,
  :set-id "future-proof"}]
