[
 {:code "26001" :set-id "system-core-2019" :card-id "abagnale" :quantity 3}
 {:code "26002" :set-id "system-core-2019" :card-id "adonis-campaign" :quantity 3}
 {:code "26003" :set-id "system-core-2019" :card-id "aesop-s-pawnshop" :quantity 2}
 {:code "26004" :set-id "system-core-2019" :card-id "aggressive-secretary" :quantity 1}
 {:code "26005" :set-id "system-core-2019" :card-id "akamatsu-mem-chip" :quantity 1}
 {:code "26006" :set-id "system-core-2019" :card-id "archer" :quantity 2}
 {:code "26007" :set-id "system-core-2019" :card-id "archived-memories" :quantity 1}
 {:code "26008" :set-id "system-core-2019" :card-id "armitage-codebusting" :quantity 2}
 {:code "26009" :set-id "system-core-2019" :card-id "ash-2x3zb9cy" :quantity 2}
 {:code "26010" :set-id "system-core-2019" :card-id "atman" :quantity 1}
 {:code "26011" :set-id "system-core-2019" :card-id "bank-job" :quantity 2}
 {:code "26012" :set-id "system-core-2019" :card-id "battering-ram" :quantity 3}
 {:code "26013" :set-id "system-core-2019" :card-id "beanstalk-royalties" :quantity 3}
 {:code "26014" :set-id "system-core-2019" :card-id "biotic-labor" :quantity 2}
 {:code "26015" :set-id "system-core-2019" :card-id "blue-level-clearance" :quantity 2}
 {:code "26016" :set-id "system-core-2019" :card-id "caduceus" :quantity 2}
 {:code "26017" :set-id "system-core-2019" :card-id "career-fair" :quantity 1}
 {:code "26018" :set-id "system-core-2019" :card-id "celebrity-gift" :quantity 2}
 {:code "26019" :set-id "system-core-2019" :card-id "closed-accounts" :quantity 2}
 {:code "26020" :set-id "system-core-2019" :card-id "contract-killer" :quantity 2}
 {:code "26021" :set-id "system-core-2019" :card-id "corroder" :quantity 3}
 {:code "26022" :set-id "system-core-2019" :card-id "crisium-grid" :quantity 1}
 {:code "26023" :set-id "system-core-2019" :card-id "crypsis" :quantity 2}
 {:code "26024" :set-id "system-core-2019" :card-id "cyberfeeder" :quantity 2}
 {:code "26025" :set-id "system-core-2019" :card-id "daily-business-show" :quantity 2}
 {:code "26026" :set-id "system-core-2019" :card-id "data-dealer" :quantity 1}
 {:code "26027" :set-id "system-core-2019" :card-id "data-raven" :quantity 2}
 {:code "26028" :set-id "system-core-2019" :card-id "datasucker" :quantity 2}
 {:code "26029" :set-id "system-core-2019" :card-id "demara" :quantity 2}
 {:code "26030" :set-id "system-core-2019" :card-id "deus-x" :quantity 1}
 {:code "26031" :set-id "system-core-2019" :card-id "diesel" :quantity 2}
 {:code "26032" :set-id "system-core-2019" :card-id "dinosaurus" :quantity 2}
 {:code "26033" :set-id "system-core-2019" :card-id "dirty-laundry" :quantity 2}
 {:code "26034" :set-id "system-core-2019" :card-id "earthrise-hotel" :quantity 2}
 {:code "26035" :set-id "system-core-2019" :card-id "easy-mark" :quantity 2}
 {:code "26036" :set-id "system-core-2019" :card-id "eli-1-0" :quantity 2}
 {:code "26037" :set-id "system-core-2019" :card-id "elizabeth-mills" :quantity 1}
 {:code "26038" :set-id "system-core-2019" :card-id "emergency-shutdown" :quantity 1}
 {:code "26039" :set-id "system-core-2019" :card-id "enigma" :quantity 3}
 {:code "26040" :set-id "system-core-2019" :card-id "explode-a-palooza" :quantity 2}
 {:code "26041" :set-id "system-core-2019" :card-id "faerie" :quantity 2}
 {:code "26042" :set-id "system-core-2019" :card-id "femme-fatale" :quantity 2}
 {:code "26043" :set-id "system-core-2019" :card-id "fetal-ai" :quantity 2}
 {:code "26044" :set-id "system-core-2019" :card-id "flare" :quantity 1}
 {:code "26045" :set-id "system-core-2019" :card-id "force-of-nature" :quantity 2}
 {:code "26046" :set-id "system-core-2019" :card-id "ghost-branch" :quantity 1}
 {:code "26047" :set-id "system-core-2019" :card-id "gordian-blade" :quantity 3}
 {:code "26048" :set-id "system-core-2019" :card-id "hadrian-s-wall" :quantity 1}
 {:code "26049" :set-id "system-core-2019" :card-id "hedge-fund" :quantity 3}
 {:code "26050" :set-id "system-core-2019" :card-id "heimdall-1-0" :quantity 1}
 {:code "26051" :set-id "system-core-2019" :card-id "himitsu-bako" :quantity 1}
 {:code "26052" :set-id "system-core-2019" :card-id "hokusai-grid" :quantity 2}
 {:code "26053" :set-id "system-core-2019" :card-id "hortum" :quantity 1}
 {:code "26054" :set-id "system-core-2019" :card-id "hostage" :quantity 1}
 {:code "26055" :set-id "system-core-2019" :card-id "hostile-takeover" :quantity 2}
 {:code "26056" :set-id "system-core-2019" :card-id "hq-interface" :quantity 1}
 {:code "26057" :set-id "system-core-2019" :card-id "hunter" :quantity 2}
 {:code "26058" :set-id "system-core-2019" :card-id "ice-analyzer" :quantity 2}
 {:code "26059" :set-id "system-core-2019" :card-id "ice-carver" :quantity 1}
 {:code "26060" :set-id "system-core-2019" :card-id "ice-wall" :quantity 2}
 {:code "26061" :set-id "system-core-2019" :card-id "ichi-1-0" :quantity 2}
 {:code "26062" :set-id "system-core-2019" :card-id "imp" :quantity 2}
 {:code "26063" :set-id "system-core-2019" :card-id "inside-job" :quantity 2}
 {:code "26064" :set-id "system-core-2019" :card-id "ipo" :quantity 2}
 {:code "26065" :set-id "system-core-2019" :card-id "john-masanori" :quantity 2}
 {:code "26066" :set-id "system-core-2019" :card-id "kati-jones" :quantity 2}
 {:code "26067" :set-id "system-core-2019" :card-id "lamprey" :quantity 2}
 {:code "26068" :set-id "system-core-2019" :card-id "legwork" :quantity 2}
 {:code "26069" :set-id "system-core-2019" :card-id "liberated-account" :quantity 2}
 {:code "26070" :set-id "system-core-2019" :card-id "lotus-field" :quantity 1}
 {:code "26071" :set-id "system-core-2019" :card-id "marilyn-campaign" :quantity 2}
 {:code "26072" :set-id "system-core-2019" :card-id "marked-accounts" :quantity 2}
 {:code "26073" :set-id "system-core-2019" :card-id "mason-bellamy" :quantity 1}
 {:code "26074" :set-id "system-core-2019" :card-id "mimic" :quantity 3}
 {:code "26075" :set-id "system-core-2019" :card-id "modded" :quantity 2}
 {:code "26076" :set-id "system-core-2019" :card-id "networking" :quantity 1}
 {:code "26077" :set-id "system-core-2019" :card-id "neural-emp" :quantity 2}
 {:code "26078" :set-id "system-core-2019" :card-id "neural-katana" :quantity 2}
 {:code "26079" :set-id "system-core-2019" :card-id "nisei-mk-ii" :quantity 2}
 {:code "26080" :set-id "system-core-2019" :card-id "notoriety" :quantity 1}
 {:code "26081" :set-id "system-core-2019" :card-id "oaktown-renovation" :quantity 1}
 {:code "26082" :set-id "system-core-2019" :card-id "oversight-ai" :quantity 2}
 {:code "26083" :set-id "system-core-2019" :card-id "pad-campaign" :quantity 3}
 {:code "26084" :set-id "system-core-2019" :card-id "paper-trail" :quantity 2}
 {:code "26085" :set-id "system-core-2019" :card-id "paragon" :quantity 2}
 {:code "26086" :set-id "system-core-2019" :card-id "patchwork" :quantity 2}
 {:code "26087" :set-id "system-core-2019" :card-id "philotic-entanglement" :quantity 1}
 {:code "26088" :set-id "system-core-2019" :card-id "pipeline" :quantity 2}
 {:code "26089" :set-id "system-core-2019" :card-id "pop-up-window" :quantity 3}
 {:code "26090" :set-id "system-core-2019" :card-id "priority-requisition" :quantity 2}
 {:code "26091" :set-id "system-core-2019" :card-id "product-placement" :quantity 2}
 {:code "26092" :set-id "system-core-2019" :card-id "professional-contacts" :quantity 2}
 {:code "26093" :set-id "system-core-2019" :card-id "project-atlas" :quantity 3}
 {:code "26094" :set-id "system-core-2019" :card-id "project-beale" :quantity 3}
 {:code "26095" :set-id "system-core-2019" :card-id "project-junebug" :quantity 2}
 {:code "26096" :set-id "system-core-2019" :card-id "project-vitruvius" :quantity 3}
 {:code "26097" :set-id "system-core-2019" :card-id "psychographics" :quantity 1}
 {:code "26098" :set-id "system-core-2019" :card-id "public-support" :quantity 2}
 {:code "26099" :set-id "system-core-2019" :card-id "punitive-counterstrike" :quantity 2}
 {:code "26100" :set-id "system-core-2019" :card-id "queen-s-gambit" :quantity 1}
 {:code "26101" :set-id "system-core-2019" :card-id "quest-completed" :quantity 1}
 {:code "26102" :set-id "system-core-2019" :card-id "r-d-interface" :quantity 1}
 {:code "26103" :set-id "system-core-2019" :card-id "red-herrings" :quantity 2}
 {:code "26104" :set-id "system-core-2019" :card-id "retrieval-run" :quantity 2}
 {:code "26105" :set-id "system-core-2019" :card-id "reversed-accounts" :quantity 1}
 {:code "26106" :set-id "system-core-2019" :card-id "ronin" :quantity 2}
 {:code "26107" :set-id "system-core-2019" :card-id "rototurret" :quantity 2}
 {:code "26108" :set-id "system-core-2019" :card-id "run-amok" :quantity 1}
 {:code "26109" :set-id "system-core-2019" :card-id "scrubber" :quantity 2}
 {:code "26110" :set-id "system-core-2019" :card-id "sea-source" :quantity 2}
 {:code "26111" :set-id "system-core-2019" :card-id "snare" :quantity 2}
 {:code "26112" :set-id "system-core-2019" :card-id "sneakdoor-beta" :quantity 2}
 {:code "26113" :set-id "system-core-2019" :card-id "spear-phishing" :quantity 1}
 {:code "26114" :set-id "system-core-2019" :card-id "special-order" :quantity 2}
 {:code "26115" :set-id "system-core-2019" :card-id "spiderweb" :quantity 2}
 {:code "26116" :set-id "system-core-2019" :card-id "stimhack" :quantity 1}
 {:code "26117" :set-id "system-core-2019" :card-id "successful-field-test" :quantity 2}
 {:code "26118" :set-id "system-core-2019" :card-id "sundew" :quantity 1}
 {:code "26119" :set-id "system-core-2019" :card-id "sure-gamble" :quantity 3}
 {:code "26120" :set-id "system-core-2019" :card-id "swordsman" :quantity 1}
 {:code "26121" :set-id "system-core-2019" :card-id "test-run" :quantity 1}
 {:code "26122" :set-id "system-core-2019" :card-id "the-maker-s-eye" :quantity 2}
 {:code "26123" :set-id "system-core-2019" :card-id "tinkering" :quantity 2}
 {:code "26124" :set-id "system-core-2019" :card-id "tollbooth" :quantity 2}
 {:code "26125" :set-id "system-core-2019" :card-id "trick-of-light" :quantity 1}
 {:code "26126" :set-id "system-core-2019" :card-id "tsurugi" :quantity 2}
 {:code "26127" :set-id "system-core-2019" :card-id "turing" :quantity 1}
 {:code "26128" :set-id "system-core-2019" :card-id "viktor-1-0" :quantity 2}
 {:code "26129" :set-id "system-core-2019" :card-id "wall-of-static" :quantity 3}
 {:code "26130" :set-id "system-core-2019" :card-id "wall-of-thorns" :quantity 1}
 {:code "26131" :set-id "system-core-2019" :card-id "wraparound" :quantity 1}
 {:code "26132" :set-id "system-core-2019" :card-id "xanadu" :quantity 1}
 {:code "26133" :set-id "system-core-2019" :card-id "yagura" :quantity 2}

 {:code "26134" :set-id "system-core-2019" :card-id "haas-bioroid-stronger-together" :quantity 1}
 {:code "26135" :set-id "system-core-2019" :card-id "seidr-laboratories-destiny-defined" :quantity 1}
 {:code "26136" :set-id "system-core-2019" :card-id "jinteki-personal-evolution" :quantity 1}
 {:code "26137" :set-id "system-core-2019" :card-id "jinteki-replicating-perfection" :quantity 1}
 {:code "26138" :set-id "system-core-2019" :card-id "nbn-making-news" :quantity 1}
 {:code "26139" :set-id "system-core-2019" :card-id "spark-agency-worldswide-reach" :quantity 1}
 {:code "26140" :set-id "system-core-2019" :card-id "weyland-consortium-building-a-better-world" :quantity 1}
 {:code "26141" :set-id "system-core-2019" :card-id "blue-sun-powering-the-future" :quantity 1}
 {:code "26142" :set-id "system-core-2019" :card-id "reina-roja-freedom-fighter" :quantity 1}
 {:code "26143" :set-id "system-core-2019" :card-id "quetzal-free-spirit" :quantity 1}
 {:code "26144" :set-id "system-core-2019" :card-id "gabriel-santiago-consummate-professional" :quantity 1}
 {:code "26145" :set-id "system-core-2019" :card-id "leela-patel-trained-pragmatist" :quantity 1}
 {:code "26146" :set-id "system-core-2019" :card-id "chaos-theory-wunderkind" :quantity 1}
 {:code "26147" :set-id "system-core-2019" :card-id "rielle-kit-peddler-transhuman" :quantity 1}
]
