[{:card-id "the-collective-williams-wu-et-al"
  :code "014001"
  :flavor "Peace Through Unity"
  :illustrator "Matt Zeilinger"
  :position 1
  :quantity 1
  :set-id "unreleased"}
 {:card-id "chronos-protocol-haas-bioroid"
  :code "014002"
  :illustrator "Emilio Rodriguez"
  :position 2
  :quantity 1
  :set-id "unreleased"}]
