[{:code "02041"
  :card-id "nerve-agent"
  :illustrator "Ed Mattinian"
  :position 41
  :quantity 3}
 {:code "02042"
  :card-id "joshua-b"
  :flavor "\"My enhancements are guaranteed for life, and well worth the risk.\""
  :illustrator "Jen Zee"
  :position 42
  :quantity 3}
 {:code "02043"
  :card-id "emergency-shutdown"
  :flavor "\"Think of it as a virtual shock collar for punishing corporate pets.\" -Andromeda"
  :illustrator "Adam S. Doyle"
  :position 43
  :quantity 3}
 {:code "02044"
  :card-id "muresh-bodysuit"
  :flavor "Light and form-fitting, its like bulletproof skin."
  :illustrator "Gong Studios"
  :position 44
  :quantity 3}
 {:code "02045"
  :card-id "snitch"
  :flavor "\"A snitch is a girl's best friend.\" -Andromeda"
  :illustrator "Mashuri"
  :position 45
  :quantity 3}
 {:code "02046"
  :card-id "chaos-theory-wunderkind"
  :flavor "\"Have you met Dinosaurus?\""
  :illustrator "Matt Zeilinger"
  :position 46
  :quantity 3}
 {:code "02047"
  :card-id "test-run"
  :illustrator "Eko Puteh"
  :position 47
  :quantity 3}
 {:code "02048"
  :card-id "dinosaurus"
  :illustrator "Matt Zeilinger"
  :position 48
  :quantity 3}
 {:code "02049"
  :card-id "personal-workshop"
  :illustrator "Fabien Jacques"
  :position 49
  :quantity 3}
 {:code "02050"
  :card-id "public-sympathy"
  :flavor "\"I'm just thankful that the brain damage is reversible. With the support of the city of New Angeles, I hope to be on my feet and back to practicing my art very soon.\" -Kate \"Mac\" McCaffrey"
  :illustrator "Mauricio Herrera"
  :position 50
  :quantity 3}
 {:code "02051"
  :card-id "project-vitruvius"
  :illustrator "Emilio Rodriguez"
  :position 51
  :quantity 3}
 {:code "02052"
  :card-id "viper"
  :flavor "Dont Tread On Me"
  :illustrator "Bruno Balixa"
  :position 52
  :quantity 3}
 {:code "02053"
  :card-id "edge-of-world"
  :illustrator "Ed Mattinian"
  :position 53
  :quantity 3}
 {:code "02054"
  :card-id "sunset"
  :flavor "\"You haven't run until you've seen the cybersun drift down behind the Great City, the space around you rippling with colors you can't imagine.\" -Kate \"Mac\" McCaffrey"
  :illustrator "Adam S. Doyle"
  :position 54
  :quantity 3}
 {:code "02055"
  :card-id "marked-accounts"
  :illustrator "Mauricio Herrera"
  :position 55
  :quantity 3}
 {:code "02056"
  :card-id "pop-up-window"
  :flavor "\"Try to close it. Go on. See what it does.\" -Chaos Theory"
  :illustrator "Christina Davis"
  :position 56
  :quantity 3}
 {:code "02057"
  :card-id "woodcutter"
  :flavor "Chop chop."
  :illustrator "Mike Nesbitt"
  :position 57
  :quantity 3}
 {:code "02058"
  :card-id "commercialization"
  :flavor "The Division of Fringe Applications' revenue increased 37% year-over-year after corporate discovered that most of their projects made really fun toys."
  :illustrator "Matt Zeilinger"
  :position 58
  :quantity 3}
 {:code "02059"
  :card-id "private-contracts"
  :illustrator "Mauricio Herrera"
  :position 59
  :quantity 3}
 {:code "02060"
  :card-id "chimera"
  :flavor "Three heads. One big headache."
  :illustrator "Isuardi Therianto"
  :position 60
  :quantity 3}]