[{:code "12021"
  :card-id "severnius-stim-implant"
  :flavor "\"Sure, the implantation was fine, but it pumps Burn. Did you think it wouldn't hurt?\""
  :illustrator "Marius Bota"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_21.png"
  :position 21
  :quantity 3}
 {:code "12022"
  :card-id "clan-vengeance"
  :flavor "\"An eye for an eye? If you're lucky, that's all you'll lose.\""
  :illustrator "Kate Laird"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_22.png"
  :position 22
  :quantity 3}
 {:code "12023"
  :card-id "counter-surveillance"
  :flavor "\"Who watches the watchers? We do.\""
  :illustrator "Nasrul Hakim"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_23.png"
  :position 23
  :quantity 3}
 {:code "12024"
  :card-id "mobius"
  :illustrator "Liiga Smilshkalne"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_24.png"
  :position 24
  :quantity 3}
 {:code "12025"
  :card-id "los-data-hijacker"
  :flavor "\"From code to profit in three easy steps.\""
  :illustrator "Matt Zeilinger"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_25.png"
  :position 25
  :quantity 3}
 {:code "12026"
  :card-id "system-seizure"
  :illustrator "Ethan Patrick Harris"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_26.png"
  :position 26
  :quantity 3}
 {:code "12027"
  :card-id "customized-secretary"
  :illustrator "Liiga Smilshkalne"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_27.png"
  :position 27
  :quantity 3}
 {:code "12028"
  :card-id "build-script"
  :flavor "Sometimes efficiency is as easy as offloading routine work to a dedicated handler."
  :illustrator "Ed Mattinian"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_28.png"
  :position 28
  :quantity 3}
 {:code "12029"
  :card-id "seidr-adaptive-barrier"
  :illustrator "Michał Miłkowski"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_29.png"
  :position 29
  :quantity 3}
 {:code "12030"
  :card-id "nerine-2-0"
  :flavor "\"Submit.\""
  :illustrator "Ethan Patrick Harris"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_30.png"
  :position 30
  :quantity 3}
 {:code "12031"
  :card-id "load-testing"
  :flavor "\"Trust me, most corps cannot match the performance of our brainmap enhanced system; a home-brewed rig doesn't stand a chance.\" - Rachel Giacomin"
  :illustrator "Ed Mattinian"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_31.png"
  :position 31
  :quantity 3}
 {:code "12032"
  :card-id "bloom"
  :illustrator "Liiga Smilshkalne"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_32.png"
  :position 32
  :quantity 3}
 {:code "12033"
  :card-id "replanting"
  :illustrator "Mark Molnar"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_33.png"
  :position 33
  :quantity 3}
 {:code "12034"
  :card-id "cpc-generator"
  :flavor "\"The customer pays to use our service, and then the advertisers pay us to put ads on their screens, and then the customers pay us a premium to remove the ads. Welcome to the dream.\""
  :illustrator "Andreas Zafiratos"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_34.png"
  :position 34
  :quantity 3}
 {:code "12035"
  :card-id "free-lunch"
  :illustrator "Adam S. Doyle"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_35.png"
  :position 35
  :quantity 3}
 {:code "12036"
  :card-id "mca-informant"
  :illustrator "Limetown Studios"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_36.png"
  :position 36
  :quantity 3}
 {:code "12037"
  :card-id "clyde-van-rite"
  :flavor "\"You have two choices: do what I asked, or make me ask again. It's your choice, but if I have to ask again, it will go badly for you.\""
  :illustrator "Anna Edwards"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_37.png"
  :position 37
  :quantity 3}
 {:code "12038"
  :card-id "watchtower"
  :flavor "416d20472046204720416d"
  :illustrator "BalanceSheet"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_38.png"
  :position 38
  :quantity 3}
 {:code "12039"
  :card-id "sacrifice"
  :illustrator "Martin de Diego Sádaba"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_39.png"
  :position 39
  :quantity 3}
 {:code "12040"
  :card-id "self-adapting-code-wall"
  :flavor "\"All my best tricks were shrugged right off. I ended up having to send a self-destruct code to the whole server.\" - Wyvern"
  :illustrator "Shawn Ye Zhongyi"
  :image-url "https://www.cardgamedb.com/forums/uploads/an/med_ADN44_40.png"
  :position 40
  :quantity 3}]