{:cost 1,
 :deck-limit 3,
 :faction :neutral-runner,
 :id "access-to-globalsec",
 :influence-cost 0,
 :side :runner,
 :stripped-text "+1 link",
 :stripped-title "Access to Globalsec",
 :subtype [:link],
 :text "+1[link]",
 :title "Access to Globalsec",
 :type :resource,
 :uniqueness false}
