{:cost 0
 :deck-limit 3
 :faction :criminal
 :id "account-siphon"
 :influence-cost 4
 :side :runner
 :stripped-text "Run HQ. If successful, instead of breaching HQ, you may force the Corp to lose up to 5click, then you gain 2click for each credit lost and take 2 tags."
 :stripped-title "Account Siphon"
 :subtype [:run :sabotage]
 :text "Run HQ. If successful, instead of breaching HQ, you may force the Corp to lose up to 5[click], then you gain 2[click] for each credit lost and take 2 tags."
 :title "Account Siphon"
 :type :event
 :uniqueness false}
