{:deck-limit 1
 :faction :jinteki
 :id "aginfusion-new-miracles-for-a-new-world"
 :influence-limit 17
 :minimum-deck-size 45
 :side :corp
 :stripped-text "Trash the unrezzed piece of ice the Runner is approaching: Choose a server other than the attacked server. The Runner moves to the outermost position of that server and encounters any ice there. Use this ability only once per turn."
 :stripped-title "AgInfusion: New Miracles for a New World"
 :subtype [:division]
 :text "<strong>Trash the unrezzed piece of ice the Runner is approaching:</strong> Choose a server other than the attacked server. The Runner moves to the outermost position of that server and encounters any ice there. Use this ability only once per turn."
 :title "AgInfusion: New Miracles for a New World"
 :type :identity
 :uniqueness false}
