{:cost 2
 :deck-limit 3
 :faction :criminal
 :id "always-have-a-backup-plan"
 :influence-cost 3
 :side :runner
 :stripped-text "Run any server. When that run ends, if it was unsuccessful, you may run the attacked server again, ignoring any additional costs to run. During the second run, whenever you encounter the last piece of ice you encountered during the first run, bypass it."
 :stripped-title "Always Have a Backup Plan"
 :subtype [:run]
 :text "Run any server. When that run ends, if it was unsuccessful, you may run the attacked server again, ignoring any additional costs to run. During the second run, whenever you encounter the last piece of ice you encountered during the first run, bypass it."
 :title "Always Have a Backup Plan"
 :type :event
 :uniqueness false}
