{:cost 6
 :deck-limit 3
 :faction :shaper
 :id "ankusa"
 :influence-cost 3
 :memory-cost 1
 :side :runner
 :strength 0
 :stripped-text "Whenever this program fully breaks a barrier, add that barrier to HQ. Interface -> 2click: Break 1 barrier subroutine. 1click: +1 strength."
 :stripped-title "Ankusa"
 :subtype [:icebreaker :fracter]
 :text "Whenever this program fully breaks a <strong>barrier</strong>, add that <strong>barrier</strong> to HQ.\nInterface -> <strong>2[click]:</strong> Break 1 <strong>barrier</strong> subroutine.\n<strong>1[click]:</strong> +1 strength."
 :title "Ankusa"
 :type :program
 :uniqueness false}
