{:cost 0,
 :deck-limit 3,
 :faction :haas-bioroid,
 :id "archived-memories",
 :influence-cost 2,
 :side :corp,
 :stripped-text "Add 1 card from Archives to HQ.",
 :stripped-title "Archived Memories",
 :text "Add 1 card from Archives to HQ.",
 :title "Archived Memories",
 :type :operation,
 :uniqueness false}
