{:cost 2
 :deck-limit 3
 :faction :anarch
 :id "arruaceiras-crew"
 :influence-cost 3
 :side :runner
 :stripped-text "Once per turn -> Take 1 tag: The ice you are encountering gets -2 strength for the remainder of this encounter. trash, 2 credits: Trash the ice you are encountering if its strength is 0 or less."
 :stripped-title "Arruaceiras Crew"
 :subtype [:connection :seedy]
 :text "Once per turn → <strong>Take 1 tag:</strong> The ice you are encountering gets –2 strength for the remainder of this encounter.\n[trash], <strong>2[credit]:</strong> Trash the ice you are encountering if its strength is 0 or less."
 :title "Arruaceiras Crew"
 :type :resource
 :uniqueness false}
