{:cost 1
 :deck-limit 3
 :faction :shaper
 :id "azimat"
 :influence-cost 1
 :memory-cost 2
 :side :runner
 :stripped-text "2 recurring credits (When you install this program and before your turn begins, refill to 2 hosted credits.) You can spend hosted credits to pay trash costs."
 :stripped-title "Azimat"
 :text "2[recurring-credit] <em>(When you install this program and before your turn begins, refill to 2 hosted credits.)</em>\nYou can spend hosted credits to pay trash costs."
 :title "Azimat"
 :type :program
 :uniqueness false}
