{:cost 5,
 :deck-limit 3,
 :faction :neutral-runner,
 :id "baba-yaga",
 :influence-cost 2,
 :memory-cost 1,
 :side :runner,
 :strength 0,
 :stripped-text
   "You may host any number of non-AI icebreaker programs on this program. This program gains the paid abilities of all hosted icebreaker programs.",
 :stripped-title "Baba Yaga",
 :subtype [:icebreaker :ai],
 :text
   "You may host any number of non-<strong>AI</strong> <strong>icebreaker</strong> programs on this program.\nThis program gains the paid abilities of all hosted <strong>icebreaker</strong> programs.",
 :title "Baba Yaga",
 :type :program,
 :uniqueness false}
