{:cost 5
 :deck-limit 3
 :faction :neutral-runner
 :id "baba-yaga"
 :influence-value 2
 :memory-cost 1
 :side :runner
 :strength 0
 :subtype [:icebreaker :ai]
 :text "You may host any number of non-<strong>AI icebreaker</strong> programs on Baba Yaga.\nBaba Yaga gains the paid abilities of all hosted <strong>icebreaker</strong> programs."
 :title "Baba Yaga"
 :type :program
 :uniqueness false}