{:cost 5
 :deck-limit 3
 :faction :anarch
 :id "begemot"
 :influence-cost 4
 :memory-cost 2
 :side :runner
 :strength 2
 :stripped-text "When you install this program, suffer 1 core damage. This program gets +1 strength for each core damage you have taken this game. Interface -> 1 credit: Break any number of barrier subroutines."
 :stripped-title "Begemot"
 :subtype [:icebreaker :fracter]
 :text "When you install this program, suffer 1 core damage.\nThis program gets +1 strength for each core damage you have taken this game.\nInterface → <strong>1[credit]:</strong> Break any number of <strong>barrier</strong> subroutines."
 :title "Begemot"
 :type :program
 :uniqueness false}
