{:cost 0,
 :deck-limit 3,
 :faction :nbn,
 :id "big-brother",
 :influence-cost 1,
 :side :corp,
 :stripped-text "Play only if the Runner is tagged. Give the Runner 2 tags.",
 :stripped-title "Big Brother",
 :subtype [:gray-ops],
 :text "Play only if the Runner is tagged.\nGive the Runner 2 tags.",
 :title "Big Brother",
 :type :operation,
 :uniqueness false}
