{:cost 2
 :deck-limit 3
 :faction :anarch
 :id "botulus"
 :influence-cost 3
 :memory-cost 1
 :side :runner
 :stripped-text "Install only on a piece of ice. When you install this program and when your turn begins, place 1 virus counter on this program. Hosted virus counter: Break 1 subroutine on host ice."
 :stripped-title "Botulus"
 :subtype [:virus]
 :text "Install only on a piece of ice.\nWhen you install this program and when your turn begins, place 1 virus counter on this program.\nHosted virus counter: Break 1 subroutine on host ice."
 :title "Botulus"
 :type :program
 :uniqueness false}
