{:cost 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "brain-taping-warehouse"
 :influence-value 1
 :side :corp
 :subtype [:facility]
 :text "The rez cost of <strong>bioroid</strong> ice is lowered by 1 for each unspent click the Runner has."
 :title "Brain-Taping Warehouse"
 :trash-cost 4
 :type :asset
 :uniqueness false}