{:cost 0
 :deck-limit 3
 :faction :neutral-corp
 :id "breaker-bay-grid"
 :influence-cost 0
 :side :corp
 :stripped-text "The rez cost of each card in the root of this server is lowered by 5. Limit 1 region per server."
 :stripped-title "Breaker Bay Grid"
 :subtype [:region]
 :text "The rez cost of each card in the root of this server is lowered by 5.\nLimit 1 <strong>region</strong> per server."
 :title "Breaker Bay Grid"
 :trash-cost 2
 :type :upgrade
 :uniqueness false}
