{:cost 2
 :deck-limit 3
 :faction :jinteki
 :id "bring-them-home"
 :influence-cost 2
 :side :corp
 :stripped-text "Play only if the Runner stole or trashed a Corp card during their last turn. After this operation is resolved, end your action phase. Reveal 2 cards at random from the grip. The Runner adds them to the top of the stack. Threat 3 -> You may pay 2 credits to reveal 1 card at random from the grip. Shuffle that card into the stack."
 :stripped-title "Bring Them Home"
 :subtype [:black-ops :terminal]
 :text "Play only if the Runner stole or trashed a Corp card during their last turn.\nAfter this operation is resolved, end your action phase.\nReveal 2 cards at random from the grip. The Runner adds them to the top of the stack.\nThreat 3 -> You may pay 2[credit] to reveal 1 card at random from the grip. Shuffle that card into the stack."
 :title "Bring Them Home"
 :type :operation}
