{:cost 2
 :deck-limit 3
 :faction :anarch
 :id "by-any-means"
 :influence-cost 5
 :side :runner
 :stripped-text "Play only as your first click. For the remainder of the turn, whenever you access a card not in Archives, trash it and suffer 1 meat damage."
 :stripped-title "By Any Means"
 :subtype [:priority :sabotage]
 :text "Play only as your first [click].\nFor the remainder of the turn, whenever you access a card not in Archives, trash it and suffer 1 meat damage."
 :title "By Any Means"
 :type :event
 :uniqueness false}
