{:cost 2
 :deck-limit 3
 :faction :shaper
 :id "cataloguer"
 :influence-cost 4
 :side :runner
 :stripped-text "When you install this hardware, load 2 power counters onto it. When it is empty, trash it. Whenever you make a successful run on R&D, instead of breaching R&D, you may remove 1 hosted power counter to look at the top 4 cards of R&D and arrange them in any order. click, hosted power counter: Breach R&D. Use this ability only if you made a successful run on R&D this turn."
 :stripped-title "Cataloguer"
 :text "When you install this hardware, load 2 power counters onto it. When it is empty, trash it.\nWhenever you make a successful run on R&D, instead of breaching R&D, you may remove 1 hosted power counter to look at the top 4 cards of R&D and arrange them in any order.\n[click], <strong>hosted power counter:</strong> Breach R&D. Use this ability only if you made a successful run on R&D this turn."
 :title "Cataloguer"
 :type :hardware
 :uniqueness false}
