{:advancement-requirement 3
 :agenda-points 1
 :deck-limit 3
 :faction :neutral-corp
 :id "chronos-project"
 :influence-cost 0
 :side :corp
 :stripped-text "When you score this agenda, the Runner removes all cards in the heap from the game."
 :stripped-title "Chronos Project"
 :subtype [:research]
 :text "When you score this agenda, the Runner removes all cards in the heap from the game."
 :title "Chronos Project"
 :type :agenda
 :uniqueness false}
