{:cost 3
 :deck-limit 3
 :faction :jinteki
 :id "chrysalis"
 :influence-cost 2
 :side :corp
 :strength 2
 :stripped-text "While the Runner is accessing this ice in R&D, they must reveal it. When the Runner accesses this ice anywhere except in Archives, they encounter it. Subroutine Do 2 net damage."
 :stripped-title "Chrysalis"
 :subtype [:sentry :ap]
 :text "While the Runner is accessing this ice in R&D, they must reveal it.\nWhen the Runner accesses this ice anywhere except in Archives, they encounter it.\n[subroutine] Do 2 net damage."
 :title "Chrysalis"
 :trash-cost 1
 :type :ice
 :uniqueness false}
