{:cost 2
 :deck-limit 3
 :faction :anarch
 :id "climactic-showdown"
 :influence-cost 5
 :side :runner
 :text "When your turn begins, remove this resource from the game. Choose a server protected by ice. The Corp may trash a piece of ice protecting that server. If they do not, the first time this turn you access cards from either R&D or HQ, access 2 additional cards from that server."
 :title "Climactic Showdown"
 :type :resource
 :uniqueness true}
