{:cost 2
 :deck-limit 3
 :faction :anarch
 :id "clot"
 :influence-cost 2
 :memory-cost 1
 :side :runner
 :stripped-text "The Corp cannot score an agenda on the same turn he or she installed it. Trash Clot if the Corp purges virus counters."
 :stripped-title "Clot"
 :subtype [:virus]
 :text "The Corp cannot score an agenda on the same turn he or she installed it.\nTrash Clot if the Corp purges virus counters."
 :title "Clot"
 :type :program
 :uniqueness false}
