{:cost 3
 :deck-limit 3
 :faction :shaper
 :id "cordyceps"
 :influence-cost 4
 :memory-cost 1
 :side :runner
 :stripped-text "When you install this program, place 2 virus counters on it. Once per turn -> When you make a successful run on a central server, you may remove 1 hosted virus counter to swap 1 piece of ice protecting that server with another installed piece of ice."
 :stripped-title "Cordyceps"
 :subtype [:virus]
 :text "When you install this program, place 2 virus counters on it.\nOnce per turn → When you make a successful run on a central server, you may remove 1 hosted virus counter to swap 1 piece of ice protecting that server with another installed piece of ice."
 :title "Cordyceps"
 :type :program
 :uniqueness false}
