{:cost 1
 :deck-limit 3
 :faction :anarch
 :id "counter-surveillance"
 :influence-cost 3
 :side :runner
 :stripped-text "click, trash: Run any server. If successful, instead of breaching the attacked server, pay X credits if able, where X is equal to the number of tags you have. If you do, choose a number less than or equal to X. Access that many cards in and/or in the root of the attacked server. (If you cannot pay, you will not access anything.)"
 :stripped-title "Counter Surveillance"
 :subtype [:clan]
 :text "<strong>[click]</strong>, <strong>[trash]:</strong> Run any server. If successful, instead of breaching the attacked server, pay X[credit] if able, where X is equal to the number of tags you have. If you do, choose a number less than or equal to X. Access that many cards in and/or in the root of the attacked server. <em>(If you cannot pay, you will not access anything.)</em>"
 :title "Counter Surveillance"
 :type :resource
 :uniqueness false}
