{:cost 1
 :deck-limit 3
 :faction :criminal
 :id "crescentus"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "trash: Derez 1 piece of ice you fully broke during this encounter."
 :stripped-title "Crescentus"
 :text "<strong>[trash]:</strong> Derez 1 piece of ice you fully broke during this encounter."
 :title "Crescentus"
 :type :program
 :uniqueness false}
