{:cost 3
 :deck-limit 3
 :faction :weyland-consortium
 :id "crisium-grid"
 :influence-cost 1
 :side :corp
 :subtype [:region]
 :text "Runs against this server cannot be declared successful. <i>(This effect does not cause runs to become unsuccessful.)</i>\nLimit 1 <strong>region</strong> per server.\n<errata>Errata from CR 1.3</errata>"
 :title "Crisium Grid"
 :trash-cost 5
 :type :upgrade
 :uniqueness false}
