{:cost 2
 :deck-limit 3
 :faction :shaper
 :id "cybertrooper-talut"
 :influence-cost 2
 :side :runner
 :stripped-text "+1 link Whenever you install a non-AI icebreaker, that icebreaker gets +2 strength for the remainder of the turn."
 :stripped-title "Cybertrooper Talut"
 :subtype [:connection :virtual]
 :text "+1[link]\nWhenever you install a non-<strong>AI</strong> <strong>icebreaker</strong>, that <strong>icebreaker</strong> gets +2 strength for the remainder of the turn."
 :title "Cybertrooper Talut"
 :type :resource
 :uniqueness true}
