{:cost 1
 :deck-limit 3
 :faction :anarch
 :id "cyber-threat"
 :influence-cost 3
 :side :runner
 :stripped-text "Play only as your first click. Choose a server. The Corp may rez 1 piece of ice protecting that server. If they do not, run that server. The Corp cannot rez ice during that run."
 :stripped-title "Cyber Threat"
 :subtype [:priority]
 :text "Play only as your first [click].\nChoose a server. The Corp may rez 1 piece of ice protecting that server. If they do not, run that server. The Corp cannot rez ice during that run."
 :title "Cyber Threat"
 :type :event
 :uniqueness false}
