{:cost 1
 :deck-limit 3
 :faction :jinteki
 :id "daruma"
 :influence-cost 3
 :side :corp
 :stripped-text "When the Runner approaches this server, you may trash Daruma. If you do, swap a card installed in this server with either another card installed in a server or with an agenda, asset or upgrade from HQ."
 :stripped-title "Daruma"
 :text "When the Runner approaches this server, you may trash Daruma. If you do, swap a card installed in this server with either another card installed in a server or with an agenda, asset or upgrade from HQ."
 :title "Daruma"
 :trash-cost 2
 :type :upgrade
 :uniqueness false}
