{:cost 1,
 :deck-limit 3,
 :faction :jinteki,
 :id "daruma",
 :influence-cost 3,
 :side :corp,
 :stripped-text
   "When the Runner approaches this server, you may trash this upgrade. If you do, choose 1 card in the root of another server or 1 agenda, asset, or upgrade in HQ. Swap that card with 1 card in the root of this server. If you swap cards this way, the Runner may jack out.",
 :stripped-title "Daruma",
 :text
   "When the Runner approaches this server, you may trash this upgrade. If you do, choose 1 card in the root of another server or 1 agenda, asset, or upgrade in HQ. Swap that card with 1 card in the root of this server. If you swap cards this way, the Runner may jack out.",
 :title "Daruma",
 :trash-cost 2,
 :type :upgrade,
 :uniqueness false}
