{:cost 0
 :deck-limit 3
 :faction :shaper
 :id "data-breach"
 :influence-cost 1
 :side :runner
 :stripped-text "Run R&D. If successful, when that run ends, you may run R&D again."
 :stripped-title "Data Breach"
 :subtype [:run]
 :text "Run R&D. If successful, when that run ends, you may run R&D again."
 :title "Data Breach"
 :type :event
 :uniqueness false}
