{:cost 0,
 :deck-limit 3,
 :faction :criminal,
 :id "data-dealer",
 :influence-cost 2,
 :side :runner,
 :stripped-text "click, forfeit 1 agenda: Gain 9 credits.",
 :stripped-title "Data Dealer",
 :subtype [:connection :seedy],
 :text
   "<strong>[click]</strong>, <strong>forfeit 1 agenda:</strong> Gain 9[credit].",
 :title "Data Dealer",
 :type :resource,
 :uniqueness false}
