{:cost 1
 :deck-limit 3
 :faction :criminal
 :id "decoy"
 :influence-cost 2
 :side :runner
 :stripped-text "Interrupt -> trash: Prevent 1 tag."
 :stripped-title "Decoy"
 :subtype [:connection]
 :text "[interrupt] → [trash]<strong>:</strong> Prevent 1 tag."
 :title "Decoy"
 :type :resource
 :uniqueness false}
