{:advancement-requirement 3
 :agenda-points 1
 :deck-limit 3
 :faction :jinteki
 :id "dedicated-neural-net"
 :side :corp
 :subtype [:initiative :psi]
 :text "The first time there is a successful run on HQ each turn, you and the Runner secretly spend 0[credit], 1[credit], or 2[credit]. Reveal spent credits. If you and the Runner spent a different number of credits, you choose which cards the Runner accesses from HQ for the remainder of this run."
 :title "Dedicated Neural Net"
 :type :agenda
 :uniqueness false}
