{:cost 3,
 :deck-limit 3,
 :faction :shaper,
 :id "deus-x",
 :influence-cost 1,
 :memory-cost 1,
 :side :runner,
 :strength 10,
 :stripped-text
   "Interface -> trash: Break any number of AP subroutines. Interrupt -> trash: Prevent any amount of net damage.",
 :stripped-title "Deus X",
 :subtype [:icebreaker],
 :text
   "Interface → <strong>[trash]:</strong> Break any number of <strong>AP</strong> subroutines.\n[interrupt] → <strong>[trash]:</strong> Prevent any amount of net damage.",
 :title "Deus X",
 :type :program,
 :uniqueness false}
