{:cost 3,
 :deck-limit 1,
 :faction :neutral-runner,
 :id "dj-fenris",
 :influence-cost 1,
 :side :runner,
 :stripped-text
   "Host a g-mod identity that does not match the faction of your identity on DJ Fenris when he is installed. Remove hosted identity from the game if DJ Fenris is uninstalled. DJ Fenris gains the text of hosted identity. Limit 1 per deck.",
 :stripped-title "DJ Fenris",
 :subtype [:connection],
 :text
   "Host a <strong>g-mod</strong> identity that does not match the faction of your identity on DJ Fenris when he is installed. Remove hosted identity from the game if DJ Fenris is uninstalled.\nDJ Fenris gains the text of hosted identity.\nLimit 1 per deck.",
 :title "DJ Fenris",
 :type :resource,
 :uniqueness true}
