{:cost 2
 :deck-limit 3
 :faction :adam
 :id "dr-lovegood"
 :influence-cost 1
 :side :runner
 :stripped-text "When your turn begins, choose 1 of your installed cards. That card loses its printed abilities for the remainder of the turn."
 :stripped-title "Dr. Lovegood"
 :subtype [:connection]
 :text "When your turn begins, choose 1 of your installed cards. That card loses its printed abilities for the remainder of the turn."
 :title "Dr. Lovegood"
 :type :resource
 :uniqueness true}
