{:cost 1
 :deck-limit 3
 :faction :criminal
 :id "embezzle"
 :influence-cost 3
 :side :runner
 :subtype [:run :sabotage]
 :text "Make a run on HQ. If successful, instead of accessing cards, name asset, ice, operation or upgrade, then reveal 2 cards from HQ at random. Trash each revealed card that has the named type, then gain 4[credit] for each card trashed this way."
 :title "Embezzle"
 :type :event
 :uniqueness false}
