{:cost 0
 :deck-limit 3
 :faction :criminal
 :id "emergency-shutdown"
 :influence-value 2
 :side :runner
 :subtype [:sabotage]
 :text "Play only if you made a successful run on HQ this turn.\nDerez a piece of ice."
 :title "Emergency Shutdown"
 :type :event
 :uniqueness false}