{:cost 5
 :deck-limit 3
 :faction :shaper
 :id "engolo"
 :influence-cost 4
 :memory-cost 2
 :side :runner
 :strength 2
 :stripped-text "Whenever you encounter a piece of ice, you may pay 2click. If you do, it gains code gate for the remainder of that encounter. Use this ability only once per turn. Interface -> 1click: Break 1 code gate subroutine. 2click: +4 strength."
 :stripped-title "Engolo"
 :subtype [:icebreaker :decoder]
 :text "Whenever you encounter a piece of ice, you may pay 2[click]. If you do, it gains <strong>code gate</strong> for the remainder of that encounter. Use this ability only once per turn.\nInterface -> <strong>1[click]:</strong> Break 1 <strong>code gate</strong> subroutine.\n<strong>2[click]:</strong> +4 strength."
 :title "Engolo"
 :type :program
 :uniqueness false}
