{:base-link 0
 :deck-limit 1
 :faction :anarch
 :id "esa-afontov-eco-insurrectionist"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :stripped-text "The first time each turn you suffer core damage, you may draw 1 card and sabotage 2. (The Corp trashes 2 cards of their choice from HQ and/or the top of R&D.)"
 :stripped-title "Esa Afontov: Eco-Insurrectionist"
 :subtype [:cyborg]
 :text "The first time each turn you suffer core damage, you may draw 1 card and sabotage 2. <em>(The Corp trashes 2 cards of their choice from HQ and/or the top of R&D.)</em>"
 :title "Esâ Afontov: Eco-Insurrectionist"
 :type :identity
 :uniqueness false}
