{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 3
 :faction :nbn
 :id "escalate-vitriol"
 :side :corp
 :stripped-text "Once per turn -> click: Gain 1 credit for each tag the Runner has."
 :stripped-title "Escalate Vitriol"
 :subtype [:initiative]
 :text "Once per turn → [click]<strong>:</strong> Gain 1[credit] for each tag the Runner has."
 :title "Escalate Vitriol"
 :type :agenda
 :uniqueness false}
