{:cost 0
 :deck-limit 3
 :faction :criminal
 :id "fall-guy"
 :influence-value 1
 :side :runner
 :subtype [:connection]
 :text "[trash]: Prevent another installed resource from being trashed.\n[trash]: Gain 2[credit]."
 :title "Fall Guy"
 :type :resource
 :uniqueness false}
