{:advancement-requirement 3
 :agenda-points 1
 :deck-limit 3
 :faction :weyland-consortium
 :id "firmware-updates"
 :side :corp
 :subtype [:security]
 :text "Place 3 agenda counters on Firmware Updates when you score it.\n<strong>Hosted agenda counter:</strong> Place 1 advancement token on a piece of ice that can be advanced. Use this ability only once per turn."
 :title "Firmware Updates"
 :type :agenda
 :uniqueness false}
