{:cost 1,
 :deck-limit 3,
 :faction :criminal,
 :id "flip-switch",
 :influence-cost 1,
 :side :runner,
 :stripped-text
   "You cannot use this hardware during the Corp's turn. trash: Jack out. trash: Remove 1 tag. Interrupt -> trash: Reduce the base trace strength of a trace to 0. Errata from CR 1.4",
 :stripped-title "Flip Switch",
 :text
   "You cannot use this hardware during the Corp's turn.\n[trash]: Jack out.\n[trash]: Remove 1 tag.\n[interrupt] → [trash]: Reduce the base trace strength of a trace to 0.\n<errata>Errata from CR 1.4</errata>",
 :title "Flip Switch",
 :type :hardware,
 :uniqueness false}
