{:cost 1
 :deck-limit 3
 :faction :jinteki
 :id "genetics-pavilion"
 :influence-cost 5
 :side :corp
 :stripped-text "The Runner cannot draw more than 2 cards during his or her turn."
 :stripped-title "Genetics Pavilion"
 :subtype [:facility :ritzy]
 :text "The Runner cannot draw more than 2 cards during his or her turn."
 :title "Genetics Pavilion"
 :trash-cost 5
 :type :asset
 :uniqueness true}
