{:cost 2
 :deck-limit 3
 :faction :criminal
 :id "gingerbread"
 :influence-cost 2
 :memory-cost 1
 :side :runner
 :strength 2
 :stripped-text "Interface -> 1click: Break 1 tracer subroutine. 2click: +3 strength."
 :stripped-title "Gingerbread"
 :subtype [:icebreaker]
 :text "Interface -> <strong>1[click]:</strong> Break 1 <strong>tracer</strong> subroutine.\n<strong>2[click]:</strong> +3 strength."
 :title "Gingerbread"
 :type :program
 :uniqueness false}
