{:cost 1
 :deck-limit 3
 :faction :neutral-runner
 :id "guru-davinder"
 :influence-cost 1
 :side :runner
 :stripped-text "Interrupt -> Whenever you would take net or meat damage, prevent all of that damage. Whenever this resource prevents 1 or more damage, trash it unless you pay 4 credits."
 :stripped-title "Guru Davinder"
 :subtype [:connection]
 :text "[interrupt] → Whenever you would take net or meat damage, prevent all of that damage.\nWhenever this resource prevents 1 or more damage, trash it unless you pay 4[credit]."
 :title "Guru Davinder"
 :type :resource
 :uniqueness true}
