{:cost 2
 :deck-limit 3
 :faction :anarch
 :id "hannah-wheels-pilintra"
 :influence-cost 2
 :side :runner
 :stripped-text "click: Gain click. Run a remote server. When that run ends, if it was unsuccessful, take 1 tag. Use this ability only once per turn. click, trash: Gain click click. Remove 1 tag."
 :stripped-title "Hannah \"Wheels\" Pilintra"
 :subtype [:connection]
 :text "[click]<strong>:</strong> Gain [click]. Run a remote server. When that run ends, if it was unsuccessful, take 1 tag. Use this ability only once per turn.\n[click], [trash]<strong>:</strong> Gain [click][click]. Remove 1 tag."
 :title "Hannah \"Wheels\" Pilintra"
 :type :resource
 :uniqueness true}
