{:cost 5
 :deck-limit 3
 :faction :jinteki
 :id "hansei-review"
 :influence-cost 1
 :side :corp
 :stripped-text "Gain 10 credits. If there are any cards in HQ, trash 1 of them."
 :stripped-title "Hansei Review"
 :subtype [:transaction]
 :text "Gain 10[credit]. If there are any cards in HQ, trash 1 of them."
 :title "Hansei Review"
 :type :operation
 :uniqueness false}
