{:cost 2
 :deck-limit 3
 :faction :shaper
 :id "harmony-ar-therapy"
 :influence-cost 3
 :side :runner
 :stripped-text "Choose up to 5 cards with different names in your heap. Shuffle those cards into your stack. Remove this event from the game."
 :stripped-title "Harmony AR Therapy"
 :text "Choose up to 5 cards with different names in your heap. Shuffle those cards into your stack.\nRemove this event from the game."
 :title "Harmony AR Therapy"
 :type :event
 :uniqueness false}
