{:cost 5,
 :deck-limit 3,
 :faction :neutral-corp,
 :id "hedge-fund",
 :influence-cost 0,
 :side :corp,
 :stripped-text "Gain 9 credits.",
 :stripped-title "Hedge Fund",
 :subtype [:transaction],
 :text "Gain 9[credit].",
 :title "Hedge Fund",
 :type :operation,
 :uniqueness false}
