{:cost 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "hellion-beta-test"
 :influence-cost 3
 :side :corp
 :stripped-text "Play only if the Runner trashed a card while accessing it during their last turn. Trace[2]. If successful, trash 2 installed non-program cards. If unsuccessful, take 1 bad publicity."
 :stripped-title "Hellion Beta Test"
 :subtype [:black-ops]
 :text "Play only if the Runner trashed a card while accessing it during their last turn.\nTrace[2]. If successful, trash 2 installed non-program cards. If unsuccessful, take 1 bad publicity."
 :title "Hellion Beta Test"
 :type :operation
 :uniqueness false}
