{:cost 2
 :deck-limit 3
 :faction :jinteki
 :id "himitsu-bako"
 :influence-cost 2
 :side :corp
 :strength 2
 :subtype [:barrier]
 :text "1[credit]: Add Himitsu-Bako to HQ.\n[subroutine] End the run."
 :title "Himitsu-Bako"
 :type :ice
 :uniqueness false}
