{:cost 1
 :deck-limit 1
 :faction :neutral-corp
 :id "hired-help"
 :influence-cost 1
 :side :corp
 :stripped-text "As an additional cost to run this server, the Runner must trash an agenda in his or her score area. Ignore this ability if the Runner made a successful run on HQ this turn. Limit 1 per deck."
 :stripped-title "Hired Help"
 :subtype [:orgcrime :enforcer]
 :text "As an additional cost to run this server, the Runner must trash an agenda in his or her score area. Ignore this ability if the Runner made a successful run on HQ this turn.\nLimit 1 per deck."
 :title "Hired Help"
 :trash-cost 3
 :type :upgrade
 :uniqueness false}
