{:cost 5,
 :deck-limit 3,
 :faction :weyland-consortium,
 :id "hive",
 :influence-cost 2,
 :side :corp,
 :strength 3,
 :stripped-text
   "This ice loses 1 of its printed \"Subroutine End the run.\" subroutines for each agenda point in your score area. Subroutine End the run. Subroutine End the run. Subroutine End the run. Subroutine End the run. Subroutine End the run.",
 :stripped-title "Hive",
 :subtype [:barrier],
 :text
   "This ice loses 1 of its printed \"[subroutine] End the run.\" subroutines for each agenda point in your score area.\n[subroutine] End the run.\n[subroutine] End the run.\n[subroutine] End the run.\n[subroutine] End the run.\n[subroutine] End the run.",
 :title "Hive",
 :type :ice,
 :uniqueness false}
