{:cost 7
 :deck-limit 3
 :faction :haas-bioroid
 :id "holmegaard"
 :influence-value 2
 :side :corp
 :strength 5
 :subtype [:sentry :tracer :destroyer]
 :text "[subroutine] <trace>Trace 4</trace> If successful, the runner cannot access any cards during this run.\n[subroutine] Trash 1 <strong>icebreaker</strong>.\n<errata>Errata from FAQ 4.0</errata>"
 :title "Holmegaard"
 :type :ice
 :uniqueness false}