{:cost 2
 :deck-limit 3
 :faction :weyland-consortium
 :id "hunter-seeker"
 :influence-cost 2
 :side :corp
 :stripped-text "As an additional cost to play this operation, spend click. Play only if the Runner stole an agenda during their last turn. Trash 1 installed card."
 :stripped-title "Hunter Seeker"
 :subtype [:double :gray-ops]
 :text "As an additional cost to play this operation, spend [click].\nPlay only if the Runner stole an agenda during their last turn.\nTrash 1 installed card."
 :title "Hunter Seeker"
 :type :operation
 :uniqueness false}
