{:cost 0
 :deck-limit 3
 :faction :shaper
 :id "ice-analyzer"
 :influence-cost 1
 :side :runner
 :stripped-text "Whenever the Corp rezzes a piece of ice, place 1 credit on Ice Analyzer. You may use credits on Ice Analyzer to install programs."
 :stripped-title "Ice Analyzer"
 :subtype [:virtual]
 :text "Whenever the Corp rezzes a piece of ice, place 1[credit] on Ice Analyzer.\nYou may use credits on Ice Analyzer to install programs."
 :title "Ice Analyzer"
 :type :resource
 :uniqueness false}
