{:cost 5
 :deck-limit 3
 :faction :haas-bioroid
 :id "ichi-1-0"
 :influence-value 2
 :side :corp
 :strength 4
 :subtype [:sentry :bioroid :tracer :destroyer]
 :text "The Runner can spend [click] to break any subroutine on Ichi 1.0.\n[subroutine] Trash 1 program.\n[subroutine] Trash 1 program.\n[subroutine] <trace>Trace 1</trace> If successful, give the Runner 1 tag and do 1 brain damage."
 :title "Ichi 1.0"
 :type :ice
 :uniqueness false}