{:cost 1
 :deck-limit 3
 :faction :nbn
 :id "idiosyncresis"
 :influence-cost 2
 :side :corp
 :stripped-text "You can advance this asset. When your turn begins, you may trash this asset. If you do, for each hosted advancement counter, gain 3 credits and the Runner loses 2 credits."
 :stripped-title "Idiosyncresis"
 :subtype [:hostile]
 :text "You can advance this asset.\nWhen your turn begins, you may trash this asset. If you do, for each hosted advancement counter, gain 3[credit] and the Runner loses 2[credit]."
 :title "Idiosyncresis"
 :trash-cost 2
 :type :asset
 :uniqueness false}
