{:cost 0
 :deck-limit 3
 :faction :nbn
 :id "increased-drop-rates"
 :influence-cost 1
 :side :corp
 :stripped-text "While the Runner is accessing this upgrade in R&D, they must reveal it. When the Runner accesses this upgrade, remove 1 bad publicity unless they take 1 tag."
 :stripped-title "Increased Drop Rates"
 :subtype [:ambush]
 :text "While the Runner is accessing this upgrade in R&D, they must reveal it.\nWhen the Runner accesses this upgrade, remove 1 bad publicity unless they take 1 tag."
 :title "Increased Drop Rates"
 :trash-cost 2
 :type :upgrade
 :uniqueness false}
