{:cost 7
 :deck-limit 3
 :faction :jinteki
 :id "ivik"
 :influence-cost 2
 :side :corp
 :strength 5
 :stripped-text "The rez cost of this ice is lowered by 1 credit for each rezzed piece of code gate ice. Subroutine Do 2 net damage. Subroutine End the run."
 :stripped-title "Ivik"
 :subtype [:barrier :ap]
 :text "The rez cost of this ice is lowered by 1[credit] for each rezzed piece of <strong>code gate</strong> ice.\n[subroutine] Do 2 net damage.\n[subroutine] End the run."
 :title "Ivik"
 :type :ice
 :uniqueness false}
