{:cost 0
 :deck-limit 3
 :faction :neutral-runner
 :id "jailbreak"
 :influence-cost 0
 :side :runner
 :subtype [:run]
 :text "Run HQ or R&D. If successful, draw 1 card. When you breach the attacked server, access 1 additional card."
 :title "Jailbreak"
 :type :event
 :uniqueness false}
