{:cost 1
 :deck-limit 3
 :faction :criminal
 :id "jeitinho"
 :influence-cost 4
 :side :runner
 :stripped-text "When your turn ends, if you made a successful run on HQ, R&D, and Archives this turn, you may add this hardware to your score area as an assassination agenda worth 0 agenda points. Then, if you have 3 assassination agendas in your score area, you win the game. Threat 3  Whenever you bypass a piece of ice, you may spend click to install this hardware from your heap."
 :stripped-title "Jeitinho"
 :subtype [:weapon]
 :text "When your turn ends, if you made a successful run on HQ, R&D, and Archives this turn, you may add this hardware to your score area as an assassination agenda worth 0 agenda points. Then, if you have 3 assassination agendas in your score area, you win the game.\nThreat 3 → Whenever you bypass a piece of ice, you may spend [click] to install this hardware from your heap."
 :title "Jeitinho"
 :type :hardware
 :uniqueness true}
