{:cost 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "jinja-city-grid"
 :influence-cost 2
 :side :corp
 :stripped-text "Whenever you draw a piece of ice, you may reveal it and install it protecting this server, paying 4click less. Limit 1 region per server."
 :stripped-title "Jinja City Grid"
 :subtype [:region]
 :text "Whenever you draw a piece of ice, you may reveal it and install it protecting this server, paying 4[click] less.\nLimit 1 <strong>region</strong> per server."
 :title "Jinja City Grid"
 :trash-cost 5
 :type :upgrade
 :uniqueness false}
