{:cost 1
 :deck-limit 3
 :faction :anarch
 :id "joshua-b"
 :influence-cost 3
 :side :runner
 :subtype [:connection]
 :text "When your turn begins, you may gain [click]. If you do, take 1 tag when this turn ends."
 :title "Joshua B."
 :type :resource
 :uniqueness true}
