{:cost 2
 :deck-limit 3
 :faction :jinteki
 :id "kakurenbo"
 :influence-cost 3
 :side :corp
 :stripped-text "As an additional cost to play this operation, spend click click. Trash any number of cards from HQ. Turn all cards in Archives facedown. You may install 1 agenda, asset, or upgrade from Archives in a remote server and place 2 advancement tokens on it. Remove this operation from the game instead of trashing it."
 :stripped-title "Kakurenbo"
 :subtype [:triple]
 :text "As an additional cost to play this operation, spend [click][click].\nTrash any number of cards from HQ. Turn all cards in Archives facedown. You may install 1 agenda, asset, or upgrade from Archives in a remote server and place 2 advancement tokens on it. Remove this operation from the game instead of trashing it."
 :title "Kakurenbo"
 :type :operation
 :uniqueness false}
