{:cost 2
 :deck-limit 3
 :faction :neutral-runner
 :id "kati-jones"
 :influence-cost 0
 :side :runner
 :stripped-text "You cannot use this resource more than once per turn. click: Place 3 credits on this resource. click: Take all credits from this resource."
 :stripped-title "Kati Jones"
 :subtype [:connection]
 :text "You cannot use this resource more than once per turn.\n[click]<strong>:</strong> Place 3[credit] on this resource.\n[click]<strong>:</strong> Take all credits from this resource."
 :title "Kati Jones"
 :type :resource
 :uniqueness true}
