{:cost 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "kill-switch"
 :influence-value 5
 :side :corp
 :subtype [:current]
 :text "If the Runner accesses an agenda from R&D, he or she must reveal it.\nThis card is not trashed until another <strong>current</strong> is played or an agenda is stolen.\nWhenever an agenda is accessed or scored, <trace>trace 3</trace> If successful, do 1 brain damage.\n<errata>Errata from FAQ 4.2</errata>"
 :title "Kill Switch"
 :type :operation
 :uniqueness false}
