{:cost 2
 :deck-limit 3
 :faction :jinteki
 :id "kitsune"
 :influence-value 2
 :side :corp
 :strength 3
 :subtype [:mythic :trap]
 :text "[subroutine] The Corp may choose a card in HQ. The Runner accesses that card. If he or she does, trash Kitsune."
 :title "Kitsune"
 :type :ice
 :uniqueness false}
