{:cost 5
 :deck-limit 3
 :faction :jinteki
 :id "komainu"
 :influence-cost 4
 :side :corp
 :strength 1
 :stripped-text "When the Runner encounters this ice, it gains X \"Subroutine Do 1 net damage.\" subroutines for the remainder of this run. X is equal to the number of cards in the grip."
 :stripped-title "Komainu"
 :subtype [:sentry :ap]
 :text "When the Runner encounters this ice, it gains X \"[subroutine] Do 1 net damage.\" subroutines for the remainder of this run. X is equal to the number of cards in the grip."
 :title "Komainu"
 :type :ice
 :uniqueness false}
