{:cost 4
 :deck-limit 3
 :faction :neutral-corp
 :id "lancelot"
 :influence-cost 1
 :side :corp
 :strength 2
 :stripped-text "When the Runner encounters this ice, you may reveal up to 2 pieces of grail ice in HQ. For the remainder of this run, this ice gains the subroutines of each revealed piece of ice in the order of your choice. Subroutine Trash 1 installed program."
 :stripped-title "Lancelot"
 :subtype [:sentry :grail :destroyer]
 :text "When the Runner encounters this ice, you may reveal up to 2 pieces of <strong>grail</strong> ice in HQ. For the remainder of this run, this ice gains the subroutines of each revealed piece of ice in the order of your choice.\n[subroutine] Trash 1 installed program."
 :title "Lancelot"
 :type :ice
 :uniqueness false}
