{:cost 1
 :deck-limit 3
 :faction :criminal
 :id "lemuria-codecracker"
 :influence-value 1
 :side :runner
 :text "[click], 1[credit]: Expose 1 card. Use this ability only if you have made a successful run on HQ this turn."
 :title "Lemuria Codecracker"
 :type :hardware
 :uniqueness false}
