{:cost 1
 :deck-limit 3
 :faction :jinteki
 :id "letheia-nisei"
 :influence-cost 3
 :side :corp
 :stripped-text "The first time the Runner approaches this server during each run, play a Psi Game. (Players secretly bid 0-2 credits. Then each player reveals and spends their bid.) If the bids differ, you may trash this upgrade. If you do, the Runner moves to the outermost position of this server. They may jack out."
 :stripped-title "Letheia Nisei"
 :subtype [:psi :clone]
 :text "The first time the Runner approaches this server during each run, play a Psi Game. <em>(Players secretly bid 0–2[credit]. Then each player reveals and spends their bid.)</em> If the bids differ, you may trash this upgrade. If you do, the Runner moves to the outermost position of this server. They may jack out."
 :title "Letheia Nisei"
 :trash-cost 2
 :type :upgrade
 :uniqueness true}
