{:cost 1
 :deck-limit 3
 :faction :criminal
 :id "leverage"
 :influence-cost 2
 :side :runner
 :stripped-text "Play only if you made a successful run on HQ this turn. Prevent all damage until the beginning of your next turn unless the Corp takes 2 bad publicity."
 :stripped-title "Leverage"
 :text "Play only if you made a successful run on HQ this turn.\nPrevent all damage until the beginning of your next turn unless the Corp takes 2 bad publicity."
 :title "Leverage"
 :type :event
 :uniqueness false}
