{:cost 6
 :deck-limit 3
 :faction :criminal
 :id "leviathan"
 :influence-cost 2
 :memory-cost 1
 :side :runner
 :strength 3
 :stripped-text "Interface -> 3click: Break up to 3 code gate subroutines. 3click: +5 strength."
 :stripped-title "Leviathan"
 :subtype [:icebreaker :decoder]
 :text "Interface -> <strong>3[click]:</strong> Break up to 3 <strong>code gate</strong> subroutines.\n<strong>3[click]:</strong> +5 strength."
 :title "Leviathan"
 :type :program
 :uniqueness false}
