{:cost 0
 :deck-limit 3
 :faction :shaper
 :id "llds-energy-regulator"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "3 credits or trash: Prevent an installed piece of hardware from being trashed."
 :stripped-title "LLDS Energy Regulator"
 :text "3[credit] or [trash]: Prevent an installed piece of hardware from being trashed."
 :title "LLDS Energy Regulator"
 :type :program
 :uniqueness false}
