{:cost 0
 :deck-limit 3
 :faction :shaper
 :id "llds-energy-regulator"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "Interrupt -> 3 credits or trash: Prevent a player from trashing 1 installed piece of hardware."
 :stripped-title "LLDS Energy Regulator"
 :text "[interrupt] → <strong>3[credit]</strong> or [trash]<strong>:</strong> Prevent a player from trashing 1 installed piece of hardware."
 :title "LLDS Energy Regulator"
 :type :program
 :uniqueness false}
