{:cost 0
 :deck-limit 3
 :faction :jinteki
 :id "marker"
 :influence-cost 1
 :side :corp
 :strength 3
 :stripped-text "Subroutine The next piece of ice the Runner encounters during this run gains \"Subroutine End the run.\" after its other subroutines for the remainder of that run."
 :stripped-title "Marker"
 :subtype [:code-gate]
 :text "[subroutine] The next piece of ice the Runner encounters during this run gains \"[subroutine] End the run.\" after its other subroutines for the remainder of that run."
 :title "Marker"
 :type :ice
 :uniqueness false}
