{:cost 3
 :deck-limit 3
 :faction :weyland-consortium
 :id "masvingo"
 :influence-cost 2
 :side :corp
 :strength 3
 :stripped-text "You can advance this ice. When you rez this ice, place 1 advancement counter on it. This ice gains \"Subroutine End the run.\" for each hosted advancement counter."
 :stripped-title "Masvingo"
 :subtype [:barrier]
 :text "You can advance this ice.\nWhen you rez this ice, place 1 advancement counter on it.\nThis ice gains \"[subroutine] End the run.\" for each hosted advancement counter."
 :title "Masvingo"
 :type :ice
 :uniqueness false}
