{:cost 3
 :deck-limit 3
 :faction :anarch
 :id "medium"
 :influence-cost 3
 :memory-cost 1
 :side :runner
 :stripped-text "Whenever you make a successful run on R&D, place 1 virus counter on this program. Whenever you breach R&D, choose a number less than the number of hosted virus counters. Access that many additional cards."
 :stripped-title "Medium"
 :subtype [:virus]
 :text "Whenever you make a successful run on R&D, place 1 virus counter on this program.\nWhenever you breach R&D, choose a number less than the number of hosted virus counters. Access that many additional cards."
 :title "Medium"
 :type :program
 :uniqueness false}
