{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 3
 :faction :haas-bioroid
 :id "melies-city-luxury-line"
 :side :corp
 :stripped-text "As an additional cost to steal this agenda, the runner must spend Click.\n\nWhen you score this agenda, gain Click."
 :stripped-title "Méliès City Luxury Line"
 :subtype [:expansion]
 :text "As an additional cost to steal this agenda, the runner must spend [Click]\n\nWhen you score this agenda, gain [Click]."
 :title "Méliès City Luxury Line"
 :type :agenda
 :uniqueness false}
