{:cost 3
 :deck-limit 3
 :faction :anarch
 :id "memstrips"
 :influence-cost 2
 :side :runner
 :stripped-text "+3 mu Use the MU on MemStrips only for virus programs."
 :stripped-title "MemStrips"
 :subtype [:chip]
 :text "+3[mu]\nUse the MU on MemStrips only for <strong>virus</strong> programs."
 :title "MemStrips"
 :type :hardware
 :uniqueness false}
