{:cost 0
 :deck-limit 3
 :faction :jinteki
 :id "midori"
 :influence-cost 3
 :side :corp
 :stripped-text "Whenever the Runner approaches a piece of ice protecting this server, you may swap that ice with 1 piece of ice from HQ. (The new ice is installed unrezzed.) If you do, the Runner may jack out. Use this ability only once per turn."
 :stripped-title "Midori"
 :subtype [:sysop]
 :text "Whenever the Runner approaches a piece of ice protecting this server, you may swap that ice with 1 piece of ice from HQ. <em>(The new ice is installed unrezzed.)</em> If you do, the Runner may jack out. Use this ability only once per turn."
 :title "Midori"
 :trash-cost 3
 :type :upgrade
 :uniqueness true}
