{:cost 3,
 :deck-limit 3,
 :faction :shaper,
 :id "mirror",
 :influence-cost 3,
 :side :runner,
 :stripped-text
   "+2 mu Whenever you make a successful run on R&D, you may replace 1 spent recurring credit. Limit 1 console per player.",
 :stripped-title "Mirror",
 :subtype [:console],
 :text
   "+2[mu]\nWhenever you make a successful run on R&D, you may replace 1 spent recurring credit.\nLimit 1 <strong>console</strong> per player.",
 :title "Mirror",
 :type :hardware,
 :uniqueness true}
