{:cost 2
 :deck-limit 3
 :faction :criminal
 :id "miss-bones"
 :influence-value 2
 :side :runner
 :subtype [:connection]
 :text "Place 12[credit] from the bank on Miss Bones when she is installed. When there are no credits left on Miss Bones, trash her.\nUse these credits to trash installed cards."
 :title "Miss Bones"
 :type :resource
 :uniqueness true}
