{:cost 0,
 :deck-limit 3,
 :faction :anarch,
 :id "moshing",
 :influence-cost 3,
 :side :runner,
 :stripped-text
   "As an additional cost to play this event, trash 3 cards from your grip. Draw 3 cards and gain 3 credits.",
 :stripped-title "Moshing",
 :text
   "As an additional cost to play this event, trash 3 cards from your grip.\nDraw 3 cards and gain 3[credit].",
 :title "Moshing",
 :type :event,
 :uniqueness false}
