{:base-link 1
 :deck-limit 1
 :faction :criminal
 :id "nero-severn-information-broker"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:natural]
 :text "Once per turn, you may jack out when you encounter a <strong>sentry</strong>."
 :title "Nero Severn: Information Broker"
 :type :identity
 :uniqueness false}
