{:cost 3
 :deck-limit 3
 :faction :anarch
 :id "nerve-agent"
 :influence-cost 2
 :memory-cost 1
 :side :runner
 :stripped-text "Whenever you make a successful run on HQ, place 1 virus counter on this program. Whenever you breach HQ, choose a number less than the number of hosted virus counters. Access that many additional cards."
 :stripped-title "Nerve Agent"
 :subtype [:virus]
 :text "Whenever you make a successful run on HQ, place 1 virus counter on this program.\nWhenever you breach HQ, choose a number less than the number of hosted virus counters. Access that many additional cards."
 :title "Nerve Agent"
 :type :program
 :uniqueness false}
