{:cost 2
 :deck-limit 3
 :faction :shaper
 :id "net-shield"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "Interrupt -> The first time each turn you would take net damage, you may pay 1 credit to prevent 1 net damage."
 :stripped-title "Net Shield"
 :text "[interrupt] → The first time each turn you would take net damage, you may pay 1[credit] to prevent 1 net damage."
 :title "Net Shield"
 :type :program
 :uniqueness false}
