{:cost 0
 :deck-limit 3
 :faction :nbn
 :id "news-team"
 :influence-cost 2
 :side :corp
 :stripped-text "While the Runner is accessing this asset in R&D, they must reveal it. When the Runner accesses this asset, they must either take 2 tags or add this asset to their score area as an agenda worth -1 agenda point."
 :stripped-title "News Team"
 :subtype [:ambush]
 :text "While the Runner is accessing this asset in R&D, they must reveal it.\nWhen the Runner accesses this asset, they must either take 2 tags or add this asset to their score area as an agenda worth -1 agenda point."
 :title "News Team"
 :trash-cost 0
 :type :asset
 :uniqueness false}
