{:cost 10,
 :deck-limit 3,
 :faction :haas-bioroid,
 :id "next-diamond",
 :influence-cost 4,
 :side :corp,
 :strength 6,
 :stripped-text
   "The rez cost of NEXT Diamond is lowered by 1 for each other rezzed piece of NEXT ice. Subroutine Do 1 brain damage. Subroutine Do 1 brain damage. Subroutine Trash 1 installed Runner card.",
 :stripped-title "NEXT Diamond",
 :subtype [:sentry :next :destroyer :ap],
 :text
   "The rez cost of NEXT Diamond is lowered by 1 for each other rezzed piece of <strong>NEXT</strong> ice.\n[subroutine] Do 1 brain damage.\n[subroutine] Do 1 brain damage.\n[subroutine] Trash 1 installed Runner card.",
 :title "NEXT Diamond",
 :type :ice,
 :uniqueness false}
