{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 3
 :faction :haas-bioroid
 :id "next-wave-2"
 :side :corp
 :stripped-text "When you score this agenda, if there is a rezzed piece of NEXT ice, you may do 1 core damage."
 :stripped-title "NEXT Wave 2"
 :subtype [:next]
 :text "When you score this agenda, if there is a rezzed piece of <strong>NEXT</strong> ice, you may do 1 core damage."
 :title "NEXT Wave 2"
 :type :agenda
 :uniqueness false}
