{:base-link 0
 :deck-limit 1
 :faction :anarch
 :id "null-whistleblower"
 :influence-limit 15
 :minimum-deck-size 45
 :side :runner
 :subtype [:natural]
 :text "Once per turn, when you encounter a piece of ice, you may trash 1 card from your grip. If you do, that ice has -2 strength for the remainder of this run."
 :title "Null: Whistleblower"
 :type :identity
 :uniqueness false}
