{:cost 1
 :deck-limit 3
 :faction :anarch
 :id "nurse-hanh"
 :influence-cost 1
 :side :runner
 :stripped-text "Whenever 2 or more facedown cards in Archives are turned faceup, draw 2 cards."
 :stripped-title "Nurse Hanh"
 :subtype [:connection]
 :text "Whenever 2 or more facedown cards in Archives are turned faceup, draw 2 cards."
 :title "Nurse Hạnh"
 :type :resource
 :uniqueness true}
