{:cost 5
 :deck-limit 3
 :faction :nbn
 :id "old-hollywood-grid"
 :influence-cost 2
 :side :corp
 :stripped-text "Persistent -> The Runner cannot steal agendas from this server or its root. Ignore this ability for any agenda the Runner has a copy of in their score area. (If the Runner trashes this card while accessing it, this ability still applies for the remainder of this run.) Limit 1 region per server."
 :stripped-title "Old Hollywood Grid"
 :subtype [:region]
 :text "Persistent → The Runner cannot steal agendas from this server or its root. Ignore this ability for any agenda the Runner has a copy of in their score area. <em>(If the Runner trashes this card while accessing it, this ability still applies for the remainder of this run.)</em>\nLimit 1 <strong>region</strong> per server."
 :title "Old Hollywood Grid"
 :trash-cost 4
 :type :upgrade
 :uniqueness false}
