{:base-link 0
 :deck-limit 1
 :faction :anarch
 :id "omar-keung-conspiracy-theorist"
 :influence-limit 12
 :minimum-deck-size 45
 :side :runner
 :stripped-text "click: Run Archives. If that run would be declared successful, change the attacked server to HQ or R&D for the remainder of that run. Use this ability only once per turn."
 :stripped-title "Omar Keung: Conspiracy Theorist"
 :subtype [:natural]
 :text "<strong>[click]:</strong> Run Archives. If that run would be declared successful, change the attacked server to HQ or R&D for the remainder of that run. Use this ability only once per turn."
 :title "Omar Keung: Conspiracy Theorist"
 :type :identity
 :uniqueness false}
