{:deck-limit 1,
 :faction :jinteki,
 :id "palana-foods-sustainable-growth",
 :influence-limit 15,
 :minimum-deck-size 45,
 :side :corp,
 :stripped-text
   "The first time each turn the Runner draws a card, gain 1 credit.",
 :stripped-title "Palana Foods: Sustainable Growth",
 :subtype [:division],
 :text "The first time each turn the Runner draws a card, gain 1[credit].",
 :title "Pālanā Foods: Sustainable Growth",
 :type :identity,
 :uniqueness false}
