{:cost 4
 :deck-limit 3
 :faction :anarch
 :id "patchwork"
 :influence-cost 3
 :side :runner
 :stripped-text "+1 mu Interrupt  Once per turn, when you would play or install a card, you may trash 1 card from your grip to lower the play or install cost by 2. Limit 1 console per player. Errata from CR 1.4"
 :stripped-title "Patchwork"
 :subtype [:console]
 :text "+1[mu]\n[interrupt] – Once per turn, when you would play or install a card, you may trash 1 card from your grip to lower the play or install cost by 2.\nLimit 1 <strong>console</strong> per player.\n<errata>Errata from CR 1.4</errata>"
 :title "Patchwork"
 :type :hardware
 :uniqueness true}
