{:cost 2,
 :deck-limit 3,
 :faction :criminal,
 :id "penumbral-toolkit",
 :influence-cost 2,
 :side :runner,
 :stripped-text
   "This card costs 2 credits less to install if you made a successful run on HQ this turn. When you install this resource, load 4 credits onto it. When it is empty, trash it. Spend hosted credits during runs.",
 :stripped-title "Penumbral Toolkit",
 :subtype [:stealth :virtual],
 :text
   "This card costs 2[credit] less to install if you made a successful run on HQ this turn.\nWhen you install this resource, load 4[credit] onto it. When it is empty, trash it.\nSpend hosted credits during runs.",
 :title "Penumbral Toolkit",
 :type :resource,
 :uniqueness false}
