{:cost 5
 :deck-limit 3
 :faction :criminal
 :id "peregrine"
 :influence-cost 2
 :memory-cost 1
 :side :runner
 :strength 2
 :stripped-text "Interface -> 1 credit: Break 1 code gate subroutine. 3 credits: +3 strength. 2 credits, add this program to your grip: Derez 1 code gate this program fully broke during this encounter."
 :stripped-title "Peregrine"
 :subtype [:icebreaker :decoder]
 :text "Interface → 1[credit]: Break 1 <strong>code gate</strong> subroutine.\n<strong>3[credit]:</strong> +3 strength.\n<strong>2[credit]</strong>, </strong>add this program to your grip:</strong> Derez 1 <strong>code gate</strong> this program fully broke during this encounter."
 :title "Peregrine"
 :type :program
 :uniqueness false}
