{:cost 3
 :deck-limit 3
 :faction :shaper
 :id "pipeline"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :strength 1
 :stripped-text "Interface -> 1 credit: Break 1 sentry subroutine. 2 credits: +1 strength for the remainder of this run."
 :stripped-title "Pipeline"
 :subtype [:icebreaker :killer]
 :text "Interface → <strong>1[credit]:</strong> Break 1 <strong>sentry</strong> subroutine.\n<strong>2[credit]:</strong> +1 strength for the remainder of this run."
 :title "Pipeline"
 :type :program
 :uniqueness false}
