{:cost 2
 :deck-limit 3
 :faction :jinteki
 :id "port-anson-grid"
 :influence-cost 2
 :side :corp
 :stripped-text "As an additional cost to jack out during a run on this server, the Runner must trash 1 installed program. Limit 1 region per server. Errata from CR 1.2"
 :stripped-title "Port Anson Grid"
 :subtype [:region]
 :text "As an additional cost to jack out during a run on this server, the Runner must trash 1 installed program.\nLimit 1 <strong>region</strong> per server.\n<errata>Errata from CR 1.2</errata>"
 :title "Port Anson Grid"
 :trash-cost 5
 :type :upgrade
 :uniqueness false}
