{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 3
 :faction :neutral-corp
 :id "private-security-force"
 :influence-value 0
 :side :corp
 :subtype [:security]
 :text "If the Runner is tagged, Private Security Force gains: \"[click]: Do 1 meat damage.\""
 :title "Private Security Force"
 :type :agenda
 :uniqueness false}
