{:cost 0
 :deck-limit 3
 :faction :nbn
 :id "product-placement"
 :influence-cost 1
 :side :corp
 :stripped-text "While the Runner is accessing this upgrade in R&D, they must reveal it. When the Runner accesses this upgrade anywhere except in Archives, gain 2 credits."
 :stripped-title "Product Placement"
 :subtype [:advertisement]
 :text "While the Runner is accessing this upgrade in R&D, they must reveal it.\nWhen the Runner accesses this upgrade anywhere except in Archives, gain 2[credit]."
 :title "Product Placement"
 :trash-cost 2
 :type :upgrade
 :uniqueness false}
