{:cost 0,
 :deck-limit 3,
 :faction :anarch,
 :id "progenitor",
 :influence-cost 2,
 :memory-cost 0,
 :side :runner,
 :stripped-text
   "You can install virus programs onto this program. Limit 1 hosted program. The memory cost of the hosted program does not count against your memory limit. Interrupt -> Whenever virus counters would be purged, prevent 1 virus counter on the hosted program from being removed.",
 :stripped-title "Progenitor",
 :subtype [:daemon],
 :text
   "You can install <strong>virus</strong> programs onto this program. Limit 1 hosted program.\nThe memory cost of the hosted program does not count against your memory limit.\n[interrupt] → Whenever virus counters would be purged, prevent 1 virus counter on the hosted program from being removed.",
 :title "Progenitor",
 :type :program,
 :uniqueness false}
