{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 3
 :faction :haas-bioroid
 :id "project-vacheron"
 :side :corp
 :stripped-text "Interrupt -> When this agenda would be added to the Runners score area from anywhere except Archives, instead it is added to their score area with 4 hosted agenda counters. While this agenda is in the Runners score area with 1 or more hosted agenda counters, it is worth 0 agenda points and gains When the Runners turn begins, remove 1 hosted agenda counter."
 :stripped-title "Project Vacheron"
 :subtype [:research]
 :text "[interrupt] → When this agenda would be added to the Runnerʼs score area from anywhere except Archives, instead it is added to their score area with 4 hosted agenda counters.\nWhile this agenda is in the Runnerʼs score area with 1 or more hosted agenda counters, it is worth 0 agenda points and gains “When the Runnerʼs turn begins, remove 1 hosted agenda counter.“"
 :title "Project Vacheron"
 :type :agenda
 :uniqueness false}
