{:cost 3
 :deck-limit 3
 :faction :weyland-consortium
 :id "punitive-counterstrike"
 :influence-cost 2
 :side :corp
 :stripped-text "Trace 5 If successful, do meat damage to the Runner equal to the number of printed agenda points on agendas he or she stole during his or her last turn."
 :stripped-title "Punitive Counterstrike"
 :subtype [:black-ops]
 :text "<trace>Trace 5</trace> If successful, do meat damage to the Runner equal to the number of printed agenda points on agendas he or she stole during his or her last turn."
 :title "Punitive Counterstrike"
 :type :operation
 :uniqueness false}
