{:cost 3
 :deck-limit 3
 :faction :haas-bioroid
 :id "ravana-1-0"
 :influence-value 1
 :side :corp
 :strength 5
 :subtype [:code-gate :bioroid]
 :text "The Runner can spend [click] to break any subroutine on Ravana 1.0.\n[subroutine] Resolve a subroutine on another piece of rezzed <strong>bioroid</strong> ice.\n[subroutine] Resolve a subroutine on another piece of rezzed <strong>bioroid</strong> ice."
 :title "Ravana 1.0"
 :type :ice
 :uniqueness false}