{:cost 2,
 :deck-limit 3,
 :faction :neutral-runner,
 :id "raymond-flint",
 :influence-cost 0,
 :side :runner,
 :stripped-text
   "Whenever the Corp takes bad publicity, breach HQ. You cannot access cards in the root of HQ during this breach. trash: Expose 1 card.",
 :stripped-title "Raymond Flint",
 :subtype [:connection],
 :text
   "Whenever the Corp takes bad publicity, breach HQ. You cannot access cards in the root of HQ during this breach.\n<strong>[trash]:</strong> Expose 1 card.",
 :title "Raymond Flint",
 :type :resource,
 :uniqueness true}
