{:cost 0
 :deck-limit 3
 :faction :nbn
 :id "reality-threedee"
 :influence-value 2
 :side :corp
 :subtype [:illicit]
 :text "When you rez Reality Threedee, take 1 bad publicity.\nWhen your turn begins, gain 1[credit] (or 2[credit] if the Runner is tagged)."
 :title "Reality Threedee"
 :trash-cost 6
 :type :asset
 :uniqueness false}