{:cost 0
 :deck-limit 3
 :faction :weyland-consortium
 :id "reduced-service"
 :influence-cost 3
 :side :corp
 :stripped-text "When you rez this upgrade, you may pay up to 4 credits to place that many power counters on it. As an additional cost to run this server, the Runner must pay 2 credits for each hosted power counter. Whenever the Runner makes a successful run on a central server, remove 1 hosted power counter."
 :stripped-title "Reduced Service"
 :text "When you rez this upgrade, you may pay up to 4[credit] to place that many power counters on it.\nAs an additional cost to run this server, the Runner must pay 2[credit] for each hosted power counter.\nWhenever the Runner makes a successful run on a central server, remove 1 hosted power counter."
 :title "Reduced Service"
 :trash-cost 2
 :type :upgrade
 :uniqueness true}
