{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 3
 :faction :nbn
 :id "reeducation"
 :side :corp
 :stripped-text "When you score this agenda, add any number of cards from HQ to the bottom of R&D. Draw X cards, where X is equal to the number of cards you added to R&D this way. If the Runner has at least X cards in the grip, they add X cards from the grip to the bottom of the stack at random."
 :stripped-title "Reeducation"
 :subtype [:initiative]
 :text "When you score this agenda, add any number of cards from HQ to the bottom of R&D. Draw X cards, where X is equal to the number of cards you added to R&D this way. If the Runner has at least X cards in the grip, they add X cards from the grip to the bottom of the stack at random."
 :title "Reeducation"
 :type :agenda
 :uniqueness false}
