{:cost 0
 :deck-limit 3
 :faction :jinteki
 :id "reverse-infection"
 :influence-value 1
 :side :corp
 :text "Choose one:<ul><li>Purge virus counters. Trash 1 card from the top of the stack for every 3 virus counters removed.</li><li>Gain 2[credit].</li></ul>"
 :title "Reverse Infection"
 :type :operation
 :uniqueness false}