{:cost 2,
 :deck-limit 3,
 :faction :anarch,
 :id "salsette-slums",
 :influence-cost 2,
 :side :runner,
 :stripped-text
   "Access -> Pay the trash cost of the card you are accessing: Remove it from the game. Use this ability only once per turn.",
 :stripped-title "Salsette Slums",
 :subtype [:location :seedy],
 :text
   "Access → <strong>Pay the trash cost of the card you are accessing:</strong> Remove it from the game. Use this ability only once per turn.",
 :title "Salsette Slums",
 :type :resource,
 :uniqueness false}
