{:cost 3
 :deck-limit 3
 :faction :weyland-consortium
 :id "sapper"
 :influence-cost 2
 :side :corp
 :strength 2
 :stripped-text "While the Runner is accessing this ice in R&D, they must reveal it. When the Runner accesses this ice anywhere except in Archives, they encounter it. Subroutine Trash 1 installed program."
 :stripped-title "Sapper"
 :subtype [:sentry :destroyer]
 :text "While the Runner is accessing this ice in R&D, they must reveal it.\nWhen the Runner accesses this ice anywhere except in Archives, they encounter it.\n[subroutine] Trash 1 installed program."
 :title "Sapper"
 :trash-cost 2
 :type :ice
 :uniqueness false}
