{:cost 2,
 :deck-limit 3,
 :faction :anarch,
 :id "scrubbed",
 :influence-cost 2,
 :side :runner,
 :stripped-text
   "This card is not trashed until another current is played or an agenda is scored. The first piece of ice encountered each turn has -2 strength for the remainder of the run.",
 :stripped-title "Scrubbed",
 :subtype [:current],
 :text
   "This card is not trashed until another <strong>current</strong> is played or an agenda is scored.\nThe first piece of ice encountered each turn has -2 strength for the remainder of the run.",
 :title "Scrubbed",
 :type :event,
 :uniqueness false}
