{:cost 0
 :deck-limit 3
 :faction :weyland-consortium
 :id "sealed-vault"
 :influence-cost 1
 :side :corp
 :stripped-text "1 credit: Move any number of credits from your credit pool to Sealed Vault. click or trash: Move any number of credits from Sealed Vault to your credit pool."
 :stripped-title "Sealed Vault"
 :subtype [:facility]
 :text "1[credit]: Move any number of credits from your credit pool to Sealed Vault.\n[click] or [trash]: Move any number of credits from Sealed Vault to your credit pool."
 :title "Sealed Vault"
 :trash-cost 8
 :type :asset
 :uniqueness false}
