{:cost 3,
 :deck-limit 3,
 :faction :neutral-corp,
 :id "self-adapting-code-wall",
 :influence-cost 0,
 :side :corp,
 :strength 1,
 :stripped-text
   "The strength of Self-Adapting Code Wall cannot be lowered. Subroutine End the run.",
 :stripped-title "Self-Adapting Code Wall",
 :subtype [:barrier],
 :text
   "The strength of Self-Adapting Code Wall cannot be lowered.\n[subroutine] End the run.",
 :title "Self-Adapting Code Wall",
 :type :ice,
 :uniqueness false}
