{:cost 2
 :deck-limit 3
 :faction :jinteki
 :id "shipment-from-tennin"
 :influence-cost 3
 :side :corp
 :stripped-text "Play only if the Runner did not make a successful run during their last turn. Place 2 advancement counters on 1 installed card."
 :stripped-title "Shipment from Tennin"
 :text "Play only if the Runner did not make a successful run during their last turn.\nPlace 2 advancement counters on 1 installed card."
 :title "Shipment from Tennin"
 :type :operation
 :uniqueness false}
