{:cost 5
 :deck-limit 3
 :faction :anarch
 :id "sifr"
 :influence-cost 1
 :side :runner
 :stripped-text "+2 mu Once per turn -> When you encounter a piece of ice, you may get -1 maximum hand size until your next turn begins. If you do, the strength of that ice is lowered to 0 for the remainder of the encounter. Limit 1 console per player."
 :stripped-title "Sifr"
 :subtype [:console]
 :text "+2[mu]\nOnce per turn → When you encounter a piece of ice, you may get –1 maximum hand size until your next turn begins. If you do, the strength of that ice is lowered to 0 for the remainder of the encounter.\nLimit 1 <strong>console</strong> per player."
 :title "Şifr"
 :type :hardware
 :uniqueness true}
