{:cost 3
 :deck-limit 3
 :faction :nbn
 :id "slot-machine"
 :influence-value 1
 :side :corp
 :strength 5
 :subtype [:code-gate]
 :text "When the Runner encounters Slot Machine, put the top card of the stack on the bottom, then reveal the top 3 cards of the stack.\n[subroutine] The Runner loses 3[credit].\n[subroutine] If two of the revealed cards have the same type, the Corp gains 3[credit].\n[subroutine] If three of the revealed cards have the same type, place 3 advancement tokens on an installed card."
 :title "Slot Machine"
 :type :ice
 :uniqueness false}
