{:cost 3
 :deck-limit 3
 :faction :criminal
 :id "snitch"
 :influence-cost 2
 :memory-cost 1
 :side :runner
 :text "Once per run, you may expose an unrezzed piece of ice when you approach it. You may then jack out."
 :title "Snitch"
 :type :program
 :uniqueness false}
