{:cost 4
 :deck-limit 3
 :faction :shaper
 :id "snowball"
 :influence-cost 2
 :memory-cost 1
 :side :runner
 :strength 1
 :stripped-text "1 credit: Break barrier subroutine. 1 credit: +1 strength. Whenever you use Snowball to break a subroutine, it has +1 strength for the remainder of the run."
 :stripped-title "Snowball"
 :subtype [:icebreaker :fracter]
 :text "1[credit]: Break <strong>barrier</strong> subroutine.\n1[credit]: +1 strength.\nWhenever you use Snowball to break a subroutine, it has +1 strength for the remainder of the run."
 :title "Snowball"
 :type :program
 :uniqueness false}
