{:advancement-requirement 2
 :agenda-points 0
 :deck-limit 3
 :faction :weyland-consortium
 :id "standoff"
 :side :corp
 :stripped-text "When you score Standoff, each player, starting with the Runner, trashes 1 of his or her installed cards until 1 player declines to trash a card. If the Runner declines, draw 1 card and gain 5 credits. Errata from FAQ 4.1"
 :stripped-title "Standoff"
 :text "When you score Standoff, each player, starting with the Runner, trashes 1 of his or her installed cards until 1 player declines to trash a card. If the Runner declines, draw 1 card and gain 5[credit].\n<errata>Errata from FAQ 4.1</errata>"
 :title "Standoff"
 :type :agenda
 :uniqueness false}
