{:cost 0
 :deck-limit 3
 :faction :anarch
 :id "stimhack"
 :influence-cost 1
 :side :runner
 :stripped-text "Place 9 credits on this event, then run any server. During that run, hosted credits are considered to be in your credit pool. When that run ends, suffer 1 core damage. This damage cannot be prevented."
 :stripped-title "Stimhack"
 :subtype [:run]
 :text "Place 9[credit] on this event, then run any server. During that run, hosted credits are considered to be in your credit pool. When that run ends, suffer 1 core damage. This damage cannot be prevented."
 :title "Stimhack"
 :type :event
 :uniqueness false}
