{:cost 3
 :deck-limit 3
 :faction :haas-bioroid
 :id "strongbox"
 :influence-cost 2
 :side :corp
 :stripped-text "Persistent -> As an additional cost to steal an agenda from this server, the Runner must spend click. (If the Runner trashes this card while accessing it, this ability still applies for the remainder of this run.)"
 :stripped-title "Strongbox"
 :text "Persistent → As an additional cost to steal an agenda from this server, the Runner must spend [click]. <em>(If the Runner trashes this card while accessing it, this ability still applies for the remainder of this run.)</em>"
 :title "Strongbox"
 :trash-cost 1
 :type :upgrade
 :uniqueness false}
