{:base-link 2,
 :deck-limit 1,
 :faction :sunny-lebeau,
 :id "sunny-lebeau-security-specialist",
 :influence-limit 25,
 :minimum-deck-size 50,
 :side :runner,
 :stripped-title "Sunny Lebeau: Security Specialist",
 :subtype [:natural],
 :title "Sunny Lebeau: Security Specialist",
 :type :identity,
 :uniqueness false}
