{:cost 3
 :deck-limit 3
 :faction :anarch
 :id "sunya"
 :influence-value 3
 :memory-cost 1
 :side :runner
 :strength 1
 :subtype [:icebreaker :killer]
 :text "When an encounter in which you used Sūnya to break all subroutines on that piece of ice ends, place 1 power counter on Sūnya.\nSūnya has +1 strength for each power counter on it.\n2[credit]: Break <strong>sentry</strong> subroutine."
 :title "Sūnya"
 :type :program
 :uniqueness false}
