{:cost 3
 :deck-limit 3
 :faction :criminal
 :id "switchblade"
 :influence-cost 2
 :memory-cost 1
 :side :runner
 :strength 0
 :subtype [:icebreaker :killer]
 :text "1[credit]: Break any number of <strong>sentry</strong> subroutines. Use this ability only by spending a credit from a <strong>stealth</strong> card.\n1[credit]: +7 strength. Use this ability only by spending a credit from a <strong>stealth</strong> card."
 :title "Switchblade"
 :type :program
 :uniqueness false}
