{:cost 1,
 :deck-limit 3,
 :faction :anarch,
 :id "system-outage",
 :influence-cost 2,
 :side :runner,
 :stripped-text
   "This card is not trashed until another current is played or an agenda is scored. Whenever the Corp draws 1 or more cards, he or she loses 1 credit if it is not the first time he or she has drawn cards this turn.",
 :stripped-title "System Outage",
 :subtype [:current],
 :text
   "This card is not trashed until another <strong>current</strong> is played or an agenda is scored.\nWhenever the Corp draws 1 or more cards, he or she loses 1[credit] if it is not the first time he or she has drawn cards this turn.",
 :title "System Outage",
 :type :event,
 :uniqueness false}
