{:cost 2
 :deck-limit 3
 :faction :jinteki
 :id "tatu-bola"
 :influence-cost 2
 :side :corp
 :strength 1
 :stripped-text "When the Runner passes this ice, you may swap it with a piece of ice from HQ. If you do, gain 4 credits. (The new ice is installed unrezzed. You do not pay an install cost.) Subroutine End the run."
 :stripped-title "Tatu-Bola"
 :subtype [:barrier]
 :text "When the Runner passes this ice, you may swap it with a piece of ice from HQ. If you do, gain 4[credit]. <em>(The new ice is installed unrezzed. You do not pay an install cost.)</em>\n[subroutine] End the run."
 :title "Tatu-Bola"
 :type :ice
 :uniqueness false}
