{:cost 1,
 :deck-limit 3,
 :faction :haas-bioroid,
 :id "team-sponsorship",
 :influence-cost 1,
 :side :corp,
 :stripped-text
   "Whenever you score an agenda, you may install a card from Archives or HQ, ignoring the install cost.",
 :stripped-title "Team Sponsorship",
 :text
   "Whenever you score an agenda, you may install a card from Archives or HQ, ignoring the install cost.",
 :title "Team Sponsorship",
 :trash-cost 4,
 :type :asset,
 :uniqueness false}
