{:deck-limit 1,
 :faction :jinteki,
 :id "tennin-institute-the-secrets-within",
 :influence-limit 15,
 :minimum-deck-size 45,
 :side :corp,
 :stripped-text
   "When your turn begins, you may place 1 advancement token on a card if the Runner did not make a successful run during his or her last turn.",
 :stripped-title "Tennin Institute: The Secrets Within",
 :subtype [:division],
 :text
   "When your turn begins, you may place 1 advancement token on a card if the Runner did not make a successful run during his or her last turn.",
 :title "Tennin Institute: The Secrets Within",
 :type :identity,
 :uniqueness false}
