{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 3
 :faction :jinteki
 :id "the-future-perfect"
 :side :corp
 :stripped-text "When the Runner accesses this agenda while it is not installed, play a Psi Game. (Players secretly bid 0-2 credits. Then each player reveals and spends their bid.) If the bids differ, the Runner cannot steal this agenda during this access."
 :stripped-title "The Future Perfect"
 :subtype [:initiative :psi]
 :text "When the Runner accesses this agenda while it is not installed, play a Psi Game. <em>(Players secretly bid 0–2[credit]. Then each player reveals and spends their bid.)</em> If the bids differ, the Runner cannot steal this agenda during this access."
 :title "The Future Perfect"
 :type :agenda
 :uniqueness false}
