{:cost 0
 :deck-limit 3
 :faction :anarch
 :id "the-wizard-s-chest"
 :influence-cost 2
 :side :runner
 :stripped-text "Use this hardware only if you made a successful run on HQ, R&D, and Archives this turn. trash: Choose hardware, program, or resource. Set aside cards from the top of your stack faceup until you set aside 2 cards of the chosen type. You may install 1 of those 2 cards, ignoring all costs. Shuffle the rest of the set-aside cards into your stack."
 :stripped-title "The Wizard's Chest"
 :text "Use this hardware only if you made a successful run on HQ, R&D, and Archives this turn.\n[trash]<strong>:</strong> Choose hardware, program, or resource. Set aside cards from the top of your stack faceup until you set aside 2 cards of the chosen type. You may install 1 of those 2 cards, ignoring all costs. Shuffle the rest of the set-aside cards into your stack."
 :title "The Wizard's Chest"
 :type :hardware
 :uniqueness true}
