{:cost 4
 :deck-limit 3
 :faction :criminal
 :id "the-class-act"
 :influence-value 5
 :quantity 3
 :side :runner
 :subtype [:connection :ritzy]
 :text "When the turn during which you installed this resource ends, draw 4 cards.\nThe first time each turn you would draw, instead look at the top X cards of your stack. Add 1 of those cards to the bottom of your stack, then draw the rest. X equals the number of cards you would have drawn plus 1."
 :title "The Class Act"
 :type :resource
 :uniqueness true}
