{:cost 1,
 :deck-limit 3,
 :faction :criminal,
 :id "the-back",
 :influence-cost 4,
 :side :runner,
 :stripped-text
   "The first time each turn you use hardware during a run, place 1 power counter on this resource. click, remove this resource from the game: Shuffle up to X cards with trash abilities from your heap into your stack. X is double the number of hosted power counters.",
 :stripped-title "The Back",
 :subtype [:job :location],
 :text
   "The first time each turn you use hardware during a run, place 1 power counter on this resource.\n[click], <strong>remove this resource from the game:</strong> Shuffle up to X cards with [trash] abilities from your heap into your stack. X is double the number of hosted power counters.",
 :title "The Back",
 :type :resource,
 :uniqueness true}
