{:cost 2
 :deck-limit 3
 :faction :anarch
 :id "trypano"
 :influence-cost 3
 :memory-cost 1
 :side :runner
 :stripped-text "Install only on a piece of ice. When your turn begins, you may place 1 virus counter on this program. When there are 5 or more hosted virus counters, trash host ice."
 :stripped-title "Trypano"
 :subtype [:virus :trojan]
 :text "Install only on a piece of ice.\nWhen your turn begins, you may place 1 virus counter on this program.\nWhen there are 5 or more hosted virus counters, trash host ice."
 :title "Trypano"
 :type :program
 :uniqueness false}
