{:cost 2,
 :deck-limit 3,
 :faction :neutral-runner,
 :id "underworld-contact",
 :influence-cost 0,
 :side :runner,
 :stripped-text
   "When your turn begins, gain 1 credit if you have at least 2 link.",
 :stripped-title "Underworld Contact",
 :subtype [:connection],
 :text "When your turn begins, gain 1[credit] if you have at least 2[link].",
 :title "Underworld Contact",
 :type :resource,
 :uniqueness false}
