{:cost 6
 :deck-limit 3
 :faction :nbn
 :id "uroboros"
 :influence-cost 2
 :side :corp
 :strength 4
 :stripped-text "Subroutine Trace[4]. If successful, the Runner cannot make another run this turn. Subroutine Trace[4]. If successful, end the run."
 :stripped-title "Uroboros"
 :subtype [:sentry :tracer]
 :text "[subroutine] Trace[4]. If successful, the Runner cannot make another run this turn.\n[subroutine] Trace[4]. If successful, end the run."
 :title "Uroboros"
 :type :ice
 :uniqueness false}
