{:cost 0
 :deck-limit 3
 :faction :anarch
 :id "vamp"
 :influence-cost 2
 :side :runner
 :stripped-text "Run HQ. If successful, instead of breaching HQ, you may spend X credits. If you do, the Corp loses X credits. If you spent credits, take 1 tag."
 :stripped-title "Vamp"
 :subtype [:run :sabotage]
 :text "Run HQ. If successful, instead of breaching HQ, you may spend X[credit]. If you do, the Corp loses X[credit]. If you spent credits, take 1 tag."
 :title "Vamp"
 :type :event
 :uniqueness false}
