{:cost 1
 :deck-limit 3
 :faction :haas-bioroid
 :id "warden-fatuma"
 :influence-cost 2
 :side :corp
 :stripped-text "Each rezzed piece of bioroid ice gains \"Subroutine The Runner loses click.\" before its other subroutines."
 :stripped-title "Warden Fatuma"
 :subtype [:character]
 :text "Each rezzed piece of <strong>bioroid</strong> ice gains \"[subroutine] The Runner loses [click].\" before its other subroutines."
 :title "Warden Fatuma"
 :trash-cost 5
 :type :asset
 :uniqueness true}
