{:cost 3
 :deck-limit 3
 :faction :neutral-corp
 :id "weir"
 :influence-cost 0
 :side :corp
 :strength 3
 :stripped-text "Subroutine The Runner loses click. Subroutine The Runner trashes 1 card from their grip."
 :stripped-title "Weir"
 :subtype [:code-gate]
 :text "[subroutine] The Runner loses [click].\n[subroutine] The Runner trashes 1 card from their grip."
 :title "Weir"
 :type :ice
 :uniqueness false}
