{:cost 4
 :deck-limit 3
 :faction :weyland-consortium
 :id "winchester"
 :influence-cost 4
 :side :corp
 :strength 4
 :subtype [:sentry :tracer :destroyer]
 :text "While this ice is protecting HQ, it gains \"[subroutine] <trace>Trace 3</trace> If successful, end the run.\" after all its other subroutines.\n[subroutine] <trace>Trace 4</trace> If successful, trash 1 installed program.\n[subroutine] <trace>Trace 3</trace> If successful, trash 1 installed piece of hardware."
 :title "Winchester"
 :type :ice
 :uniqueness false}
