{:cost 3
 :deck-limit 3
 :faction :anarch
 :id "wyldside"
 :influence-value 3
 :side :runner
 :subtype [:location :seedy]
 :text "When your turn begins, draw 2 cards and lose [click]."
 :title "Wyldside"
 :type :resource
 :uniqueness true}