{:cost 3
 :deck-limit 3
 :faction :anarch
 :id "xanadu"
 :influence-value 2
 :side :runner
 :subtype [:virtual]
 :text "The rez cost of all ice is increased by 1."
 :title "Xanadu"
 :type :resource
 :uniqueness true}